Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

fix OOB delete entries always expecting overhead fields
  lib/models/QueueEntry.js
  tests/unit/lib/models/ObjectQueueEntry.spec.js
Due: Core Library

adapt mongo call to new version of lib
  lib/util/LocationStatusManager.js
  tests/unit/lib/util/LocationStatusManager.spec.js
Due: Core Library

bump version to 9.0.3
  package.json
Due: none

BB-659 Make backbeat lifecycle processor retry timeout configurable
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
Due: Lifecycle

deploy metadata in a separate e2e test suite
  .github/dockerfiles/e2e/cloudserver-config.json
  .github/dockerfiles/e2e/docker-compose.yaml
  .github/dockerfiles/e2e/metadata-config.json
  .github/dockerfiles/sproxyd/Dockerfile
  .github/dockerfiles/sproxyd/conf/fastcgi_params
  .github/dockerfiles/sproxyd/conf/nginx.conf
  .github/dockerfiles/sproxyd/conf/sproxyd.conf
  .github/dockerfiles/sproxyd/conf/supervisord.conf
  .github/scripts/wait_for_local_port.bash
  .github/workflows/tests.yaml
Due: none

initialize e2e test suite using metadata
  .github/workflows/tests.yaml
  package.json
  tests/e2e/queuePopulator/config/s3c-config.json
  tests/e2e/queuePopulator/queuePopulator.spec.js
Due: none

reduce duplication of test coverage command
  .github/workflows/tests.yaml
  package.json
  yarn.lock
Due: none

simplify sproxyd deployment
  .github/dockerfiles/e2e/docker-compose.yaml
  .github/dockerfiles/sproxyd/Dockerfile
  .github/dockerfiles/sproxyd/conf/fastcgi_params
  .github/dockerfiles/sproxyd/conf/nginx.conf
  .github/dockerfiles/sproxyd/conf/supervisord.conf
  .github/dockerfiles/sproxyd/sproxyd.conf
Due: none

use healthchecks to wait for containers to be up
  .github/dockerfiles/cloudserver/Dockerfile
  .github/dockerfiles/cloudserver/config.json
  .github/dockerfiles/e2e/docker-compose.yaml
  .github/scripts/wait_for_local_port.bash
  .github/workflows/tests.yaml
Due: none

only expose needed ports from the e2e test containers
  .github/dockerfiles/e2e/docker-compose.yaml
Due: none

Rename tests from end2end to functional
  .github/dockerfiles/ft/docker-compose.yaml
  .github/dockerfiles/ft/metadata-config.json
  .github/workflows/tests.yaml
  package.json
  tests/functional/queuePopulator/config/s3c-config.json
  tests/functional/queuePopulator/queuePopulator.spec.js
Due: none

BB-659 Make backbeat lifecycle processor retry timeout configurable
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/replication/tasks/EchoBucket.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  extensions/replication/utils/SetupReplication.js
  lib/tasks/BackbeatTask.js
  tests/unit/lib/tasks/BackbeatTask.spec.js
  tests/unit/replication/MultipleBackendTask.js
Due: Core Library, Lifecycle, Replication

use proper label in queue populator metrics
  lib/queuePopulator/BucketFileLogReader.js
  lib/queuePopulator/KafkaLogReader.js
  lib/queuePopulator/MongoLogReader.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/RaftLogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

rename queue populator metrics
  lib/queuePopulator/QueuePopulator.js
  monitoring/replication/dashboard.json
  monitoring/replication/dashboard.py
Due: Core Library

document the "origin" label in queue populator metrics
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

do not store offset in zookeeper when using the Kafka logReader
  lib/queuePopulator/KafkaLogReader.js
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

Release 9.0.4
  package.json
Due: none

BB-659 fix retry.maxRetries
  lib/tasks/BackbeatTask.js
  tests/unit/lib/tasks/BackbeatTask.spec.js
Due: Core Library

fix unit tests
  package.json
Due: none

BB-659 bump package json
  package.json
Due: none

BB-664 use one release process
  .github/workflows/release-federation.yaml
  .github/workflows/release.yaml
Due: none

BB-667 Lifecycle management account not able to assume accounts role
  bin/ensureServiceUser
Due: none

mongo 7 on CI
  .github/dockerfiles/mongodb/Dockerfile
Due: none

mongo 7 on CI
  .github/dockerfiles/mongodb/conf/mongod.conf
Due: none

mongo 7 on CI
  .github/dockerfiles/mongodb/conf/mongo-run.sh
Due: none

BB-670: Disable core dumps in the container
  images/nodesvc-base/Dockerfile
Due: none

BB-670: Bump version
  package.json
Due: none

BB-670: Disable core dumps in the container
  images/federation/Dockerfile
Due: none

Use `tlp` as location type for TLP-based locations
  conf/locationConfig.json
  lib/Config.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Core Library

Support miria location type
  lib/Config.js
Due: Core Library

BB-665 Release proper backbeat image version
  .github/workflows/release.yaml
Due: none

BB-673 Fix retry for replication and notification
  bin/replication.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/EchoBucket.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  extensions/replication/utils/SetupReplication.js
Due: Bucket Notification, Replication

support per site replication destination config
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/task.js
  lib/Config.js
  tests/unit/conf/Config.js
  tests/unit/conf/configs/replicationMultiDestConfig.json
  tests/unit/replication/ReplicationConfigValidator.spec.js
  tests/unit/replication/utils/admin-backbeat.json
Due: Core Library, Replication

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
