Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

properly validate config
  lib/Config.js
Due: Core Library

test backbeat config validation
  lib/Config.js
  tests/unit/lib/config/Config.spec.js
  tests/unit/lib/config/config.json
Due: Core Library

remove probeconfig validation from startProbeServer
  lib/util/probe.js
  tests/unit/lib/util/probe.spec.js
Due: Core Library

make the probeserver config optional for the bucket notification processes
  extensions/notification/NotificationConfigValidator.js
  lib/config.joi.js
Due: Bucket Notification, Core Library

remove unsupported config param
  tests/config.json
Due: none

Refactor metrics handling in QueueProcessor and ReplicationStatusProcessor
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
Due: Replication

Expose to prometheus only if logConsumerMetricsInterval is set
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

Use safeJSONparse
  lib/BackbeatConsumer.js
Due: Core Library

Log consumer lag metrics
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
Due: Core Library, Replication

Fix error handling in BackbeatConsumer.js
  lib/BackbeatConsumer.js
Due: Core Library

Fix the dataMoverTopic config param always being required
  extensions/replication/ReplicationConfigValidator.js
  lib/Config.js
  tests/unit/lib/config/Config.spec.js
Due: Core Library, Replication

parametrize routes based on mongo config
  lib/api/BackbeatAPI.js
  lib/api/routes.js
Due: Core Library

add unit test for routes
  tests/unit/api/routes.spec.js
Due: none

try
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/replication/tasks/MultipleBackendTask.js
  lib/queuePopulator/BucketFileLogReader.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/IngestionReader.js
  lib/queuePopulator/KafkaLogReader.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/MongoLogReader.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/RaftLogReader.js
  package.json
  tests/functional/ingestion/IngestionReader.js
  tests/functional/replication/queueProcessor.js
Due: Core Library, Ingestion, Replication

wip
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  lib/queuePopulator/BucketFileLogReader.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/IngestionReader.js
  lib/queuePopulator/KafkaLogReader.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/MongoLogReader.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/RaftLogReader.js
  package.json
  tests/functional/ingestion/IngestionReader.js
  tests/functional/replication/queueProcessor.js
Due: Core Library, Ingestion, Replication

wip
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

VaultClientWrapper fallback to auth config when vaultadmin config not defined
  extensions/utils/VaultClientWrapper.js
  tests/unit/utils/VaultClientWrapper.spec.js
Due: Core Library

LifecycleQueuePopulator: avoid creating vaultClientWrapper when not needed
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

support non authenticated vaultadmin API in the conductor
  extensions/utils/VaultClientWrapper.js
  lib/config/configItems.joi.js
  lib/constants.js
  tests/unit/utils/VaultClientWrapper.spec.js
Due: Core Library

wip
  tests/functional/ingestion/MongoQueueProcessor.js
Due: none

expiration: fallback to delete object if deleteObjectFromExpiration is not implemented
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/mocks.js
Due: Lifecycle

remove metricsConsumer and Producer
  lib/MetricsConsumer.js
  lib/MetricsProducer.js
Due: Core Library

adapt log after producer and consumer removal
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  lib/queuePopulator/BucketFileLogReader.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/IngestionReader.js
  lib/queuePopulator/KafkaLogReader.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/MongoLogReader.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/RaftLogReader.js
  tests/functional/ingestion/IngestionReader.js
Due: Core Library, Ingestion, Replication

adapt mongoQueueProcessor func test
  tests/functional/ingestion/MongoQueueProcessor.js
Due: none

Add Kafka lag metrics handling to both QueueProcessor and ReplicationStatusProcessor
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
Due: Bucket Notification, Replication

Add Kafka lag metric to metrics handler in QueueProcessor
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Bucket Notification, Replication

Add default labels for Kafka lag metrics in QueueProcessor
  extensions/notification/queueProcessor/QueueProcessor.js
Due: Bucket Notification

Fix syntax by adding a missing semicolon in QueueProcessor.js
  extensions/notification/queueProcessor/QueueProcessor.js
Due: Bucket Notification

Rename Kafka lag metric to 's3_notification_queue_lag' in QueueProcessor
  extensions/notification/queueProcessor/QueueProcessor.js
Due: Bucket Notification

support specifying multiple destination kafka hosts in bucket notification
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/destination/KafkaNotificationDestination.js
Due: Bucket Notification

Default oplogPopulatorChangeStreamLimit to 10
  monitoring/oplog-populator/alerts.yaml
Due: none

Release backbeat 8.6.51
  package.json
Due: none

tests add for coverage
  tests/unit/ingestion/mongoQueueProcessor.spec.js
  tests/unit/lib/queuePopulator/KafkaLogReader.spec.js
  tests/unit/lib/queuePopulator/MongoLogReader.spec.js
  tests/unit/lib/util/circuitBreaker.spec.js
Due: none

BB-616 use the backbeatClient with the same settings as in production
  bin/backbeat-cli.js
  docs/backbeat-cli.md
Due: none

Fix serviceName not set
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/constants.js
Due: Bucket Notification, Core Library, Replication

Better handle import for constant
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
Due: Bucket Notification, Replication

BB-629: support concurrency in mongo queue processor
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
