Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Inherit the log levels an extension does not configure
  lib/Config.js
  lib/config/configItems.joi.js
  lib/config/extensionConfigValidator.js
  tests/unit/ingestion/IngestionConfigValidator.spec.js
  tests/unit/lib/config/envOverrides.spec.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Core Library

Refactor compositeEnvOverrides
  docs/configuration.md
  extensions/replication/ReplicationConfigValidator.js
  lib/Config.js
  lib/config.joi.js
  lib/config/configItems.joi.js
  lib/config/envOverrides.js
  lib/config/fields.js
  tests/config.json
  tests/functional/queuePopulator/config/s3c-config.json
  tests/unit/lib/config/config.joi.spec.js
  tests/unit/lib/config/envOverrides.spec.js
  tests/unit/replication/ReplicationConfigValidator.spec.js
Due: Core Library, Replication

Update AI rules for configuration
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

Apply the env var configuration without rewriting the config file
  Dockerfile
  README.md
  docker-entrypoint.sh
  docs/configuration.md
  extensions/gc/GarbageCollectorConfigValidator.js
  extensions/ingestion/IngestionConfigValidator.js
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/notification/NotificationConfigValidator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/replication/ReplicationConfigValidator.js
  lib/Config.js
  lib/config.joi.js
  lib/config/configItems.joi.js
  lib/config/envOverrides.js
  lib/config/extensionConfigValidator.js
  lib/config/fields.js
  tests/unit/ingestion/IngestionConfigValidator.spec.js
  tests/unit/lib/config/envOverrides.spec.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication

Use joi to split redis sentinels host & default
  lib/Config.js
  lib/config.joi.js
  tests/unit/lib/config/config.joi.spec.js
  tests/unit/lib/config/envOverrides.spec.js
Due: Core Library

Default each log level individually
  lib/config/configItems.joi.js
  tests/unit/ingestion/IngestionConfigValidator.spec.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Core Library

Refactor config tests
  tests/unit/conf/Config.js
  tests/unit/lib/config/Config.spec.js
  tests/unit/lib/config/config.joi.spec.js
  tests/unit/lib/config/configItems.joi.spec.js
  tests/unit/lib/config/envOverrides.spec.js
  tests/unit/lib/config/extensionConfigValidator.spec.js
  tests/unit/lib/config/fields.spec.js
  tests/unit/lib/config/replicationMultiDestConfig.json
  tests/unit/lib/config/replicationServersConfig.json
Due: none

Census: 2x2 on librdkafka 2.12 after the 3.6.1 upgrade landed on 9.5
  .github/workflows/shutdown-census.yaml
Due: none

Census: sweep the disconnect bound, 1200 samples per arm
  .github/workflows/shutdown-census.yaml
Due: none

Census: is the lib suite worse on the BB-833 stack than on 9.5?
  .github/workflows/lib-suite-census.yaml
  .github/workflows/shutdown-census.yaml
Due: none

Guard the consumer subscription read against ERR__STATE
  lib/BackbeatConsumer.js
  tests/unit/lib/BackbeatConsumer.spec.js
Due: Core Library

Census: isolate what wedges the lib suite -- the change, or the new test
  .github/workflows/lib-suite-census.yaml
Due: none

Census: measure three close() variants against the exit wedge
  .github/workflows/lib-suite-census.yaml
  .github/workflows/shutdown-census.yaml
Due: none

Census: answer the shutdown revoke, and see if the exit wedge goes
  .github/workflows/lib-suite-census.yaml
  .github/workflows/shutdown-census.yaml
Due: none

Fix potential dereferencing of replicationConfig
  lib/Config.js
Due: Core Library

Ignore a __proto__ key in the config overrides
  lib/config/configOverrides.js
  tests/unit/lib/config/configOverrides.spec.js
Due: Core Library

Support configuration overrides for troubleshooting
  README.md
  docs/config-overrides.md
  docs/configuration.md
  lib/Config.js
  lib/config/configOverrides.js
  lib/config/envOverrides.js
  tests/unit/lib/config/Config.spec.js
  tests/unit/lib/config/configOverrides.spec.js
  tests/unit/lib/config/extensionConfigValidator.spec.js
Due: Core Library

Census: negative control that must report loss, to validate the accounting
  .github/harness/shutdown-census-worker.js
  .github/harness/shutdown-census.js
  .github/workflows/shutdown-census.yaml
Due: none

S3C-11127: add the delivery workgroup membership module and its config
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/deliveryWorker/workgroupConfig.js
  extensions/notification/utils/workgroups.js
  tests/unit/notification/NotificationConfigValidator.js
  tests/unit/notification/workgroupConfig.spec.js
  tests/unit/notification/workgroups.spec.js
Due: Bucket Notification

S3C-11127: let a delivery worker serve one workgroup
  extensions/notification/deliveryWorker/DeliveryWorker.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: Bucket Notification

S3C-11127: warn about a destination routed by a prefix of its name
  extensions/notification/deliveryWorker/DeliveryWorker.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: Bucket Notification

S3C-11127: read the workgroups generation from zookeeper and assert its groups are seeded
  extensions/notification/deliveryWorker/WorkgroupConfigLoader.js
  extensions/notification/deliveryWorker/seededOffsets.js
  tests/unit/notification/WorkgroupConfigLoader.spec.js
  tests/unit/notification/seededOffsets.spec.js
Due: Bucket Notification

S3C-11127: add the workgroups barrier cutover tool
  bin/notificationWorkgroupCutover.js
  extensions/notification/deliveryWorker/WorkgroupCutover.js
  package.json
  tests/unit/notification/workgroupCutover.spec.js
Due: Bucket Notification

S3C-11127: build the delivery worker from the workgroups document
  extensions/notification/deliveryWorker/task.js
Due: Bucket Notification

S3C-11127: accept the previous group ids in the workgroups document
  extensions/notification/utils/workgroups.js
  tests/unit/notification/workgroups.spec.js
Due: Bucket Notification

S3C-11127: record the groups a cutover replaces in the workgroups document
  bin/notificationWorkgroupCutover.js
  extensions/notification/deliveryWorker/WorkgroupCutover.js
  tests/unit/notification/workgroupCutover.spec.js
Due: Bucket Notification

S3C-11127: add the workgroups functional suite with the slice enforcement gate
  package.json
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: add the workgroups isolation gate to the functional suite
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: log gate failures inline and keep the lag samplers from overlapping
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: detect the consumer wedge per workgroup and keep the blocked worker unsaturated
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: read the partition ends once so the lag trajectory has real resolution
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: count the pre-existing offsetsStore throw instead of letting it fail a gate
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: never let the uncaught filter swallow what it cannot hand back
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: confirm the delivery topic before a join and read real partition ends
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: place the isolation window inside the blocked destination hold
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: add the generation swap gate driven by a real barrier cutover
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: wait for the new generation on its own barriers, not on the union
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: add the observability gate over the workgroup label and per group lag
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: count both throws out of the consumer commit path
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: stop a finished gate from failing the one that runs after it
  tests/functional/deliverypool/workgroups.js
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
