Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Update Dockerfile to use Node.js version 22.11.0-bullseye-slim and Dockerize version v0.8.0
  Dockerfile
Due: none

Update node version requirement to >=20 in package.json
  package.json
  yarn.lock
Due: none

custom arsenal version until release
  package.json
  yarn.lock
Due: none

Update ginkgo installation command in tests.yaml
  .github/workflows/tests.yaml
Due: none

Update Node.js version to 22 and cache yarn in Docker build workflow
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
Due: none

Update Node.js version to 22 in syntheticbucketd Dockerfile
  .github/dockerfiles/syntheticbucketd/Dockerfile
Due: none

Update dependencies in package.json
  package.json
  yarn.lock
Due: none

Use V2 listing when listing backend is not mongodb
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

Update cloudserver installation command in run_ft_tests.bash
  .github/scripts/run_ft_tests.bash
  package.json
Due: none

BB-624: Suppress AWS SDK v3 warning in stderr
  lib/clients/BackbeatClient.js
Due: Core Library

bump bucket client
  package.json
Due: none

bump httpagent
  package.json
Due: none

bf: crash when unable to connect with kafka
  lib/BackbeatProducer.js
Due: Core Library

bf: crash backbeat components when unable to connect to kafka
  extensions/replication/failedCRR/FailedCRRConsumer.js
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/MetricsConsumer.js
Due: Core Library, Replication

bf: crash backbeat consumer when unable to connect with kafka
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/BackbeatConsumer.js
Due: Core Library, Replication

BB-624: Improve image img size from 2.34G to 1.55G
  .dockerignore
  images/nodesvc-base/Dockerfile
Due: none

BB-624: S3C specific handling of startup failure
  lib/BackbeatConsumer.js
  lib/BackbeatProducer.js
Due: Core Library

BB-624: backport some notification startup fix
  extensions/notification/destination/KafkaProducer.js
  extensions/notification/queueProcessor/QueueProcessor.js
Due: Bucket Notification

BB-624: Don't ignore setup error for CRR status
  extensions/replication/failedCRR/FailedCRRProducer.js
  extensions/replication/replay/ReplayProducer.js
Due: Replication

BB-624 S3C-9436: Prevent startup crash on probeing
  bin/queuePopulator.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/task.js
  extensions/replication/replayProcessor/task.js
  extensions/replication/replicationStatusProcessor/task.js
Due: Replication

Mise à jour des dépendances et ajout de la configuration ESLint
  .github/workflows/tests.yaml
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

Fix ginkgo flags
  .github/workflows/tests.yaml
Due: none

Issue: {Jira_ticket}
  .github/workflows/tests.yaml
Due: none

use the same queue populator zookeeper path as in 7.x
  lib/queuePopulator/LogReader.js
Due: Core Library

BB-624: backport some notification startup fix
  extensions/notification/destination/KafkaProducer.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/notification/queueProcessor/task.js
Due: Bucket Notification

BB-624 S3C-9436: Prevent startup crash on probing
  bin/queuePopulator.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/task.js
  extensions/replication/replayProcessor/task.js
  extensions/replication/replicationStatusProcessor/task.js
Due: Replication

BB-624: Notification restart if destination down
  extensions/notification/destination/KafkaNotificationDestination.js
  extensions/notification/queueProcessor/QueueProcessor.js
Due: Bucket Notification

BB-624: Test CRR metrics at startup crash
  tests/unit/replication/QueueProcessor.spec.js
Due: none

BB-624: Bump version 7.10.18
  package.json
Due: none

BB-624: Bump version 7.70.15
  package.json
Due: none

BB-624: Bump version 8.5.6
  package.json
Due: none

BB-624: Bump version 8.6.50
  package.json
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
