Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

refactor err.code
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  lib/tasks/BackbeatTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
Due: Core Library, Lifecycle

refactor err code 2
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
Due: Replication

refactor err code 3
  extensions/replication/tasks/ReplicateObject.js
Due: Replication

refactor err code 4
  lib/BackbeatMetadataProxy.js
Due: Core Library

cldsrv v 1.0.3
  package.json
  yarn.lock
Due: none

change tests.yaml
  .github/workflows/tests.yaml
  package.json
Due: none

bump arsenal to 8.3.0
  package.json
  yarn.lock
Due: none

bump cloudserverclient to 1.0.3
  package.json
  yarn.lock
Due: none

adapt cloudserver client imports according to new 1.0.3 version
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
  lib/clients/ClientManager.js
  lib/queuePopulator/IngestionProducer.js
  tests/functional/ingestion/S3Mock.js
  tests/functional/lib/BackbeatClient.js
Due: Core Library, Ingestion, Replication

fix linter issues
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/index.js
  extensions/replication/tasks/MultipleBackendTask.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification, Replication

clean error code and name handling
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
  lib/tasks/BackbeatTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
Due: Core Library, Lifecycle, Replication

refactor attachRequestUids
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
  lib/clients/utils.js
  lib/queuePopulator/IngestionProducer.js
Due: Core Library, Ingestion, Lifecycle, Replication

update on vault 238 issue
  bin/ensureServiceUser
  extensions/utils/VaultClientWrapper.js
Due: Core Library

BB-743 missing scality group on docker image
  images/federation/Dockerfile
Due: none

BB-743: bump package.json version to 9.0.23
  package.json
Due: none

Support SASL/SCRAM bucket notification destination
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/constants.js
  extensions/notification/queueProcessor/task.js
  extensions/notification/utils/auth.js
  tests/unit/notification/NotificationConfigValidator.js
  tests/unit/notification/utils/auth.js
Due: Bucket Notification

replication: Fetch object again if locations were stripped
  extensions/replication/tasks/ReplicateObject.js
  tests/functional/replication/queueProcessor.js
Due: Replication

oplog: Strip locations when the array is large
  conf/config.json
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
  tests/unit/oplogPopulator/OplogPopulatorConfigValidator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

oplog: Update pipeline on Mongo >= 6.0 if match stage is unchanged
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

fixup! Support SASL/SCRAM bucket notification destination
  extensions/notification/utils/auth.js
Due: Bucket Notification

Release backbeat 9.0.24
  package.json
Due: none

Release backbeat 9.1.7
  package.json
Due: none

BB-744 Fix V4 signature using proxyPath instead of original path
  package.json
  yarn.lock
Due: none

Manage CRR endpoints without explicit port
  extensions/replication/queueProcessor/QueueProcessor.js
  tests/unit/replication/QueueProcessor.spec.js
Due: Replication

BB-744 bump backbeat version
  package.json
Due: none

BB-744 bump package version
  package.json
Due: none

Release 9.2.1
  package.json
Due: none

BB-745: speed up CI workflow execution
  .github/workflows/tests.yaml
Due: none

BB-745: fixing setup-node cache issue
  .github/workflows/tests.yaml
Due: none

BB-745: splitting lint and unit jobs
  .github/workflows/tests.yaml
Due: none

BB-745: building on dev branch for codecov indexing
  .github/workflows/tests.yaml
Due: none

Test out syntax
  .github/workflows/tests.yaml
Due: none

try simpler
  .github/workflows/tests.yaml
Due: none

BB-745: wait for services to boot to run tests
  .github/workflows/tests.yaml
Due: none

Manage CRR endpoints without explicit port
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/Config.js
  tests/unit/conf/Config.js
  tests/unit/conf/configs/replicationServersConfig.json
Due: Core Library, Replication

Bump package.json to 9.1.8
  package.json
Due: none
