Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

unit test added
  tests/unit/RoleCredentials.js
Due: none

update arsenal and bucketclient versions
  package.json
  yarn.lock
Due: none

update to precise nodejs version in dockerfile
  Dockerfile
Due: none

set typescript and eslint plugin as dev dependency
  package.json
Due: none

upgrade docker build action
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

increase circuit breaker consumer test timeout
  tests/functional/lib/BackbeatConsumer.js
Due: none

bump bucketclient to 8.2.0
  package.json
  yarn.lock
Due: none

upgrade arsenal and update tests
  package.json
  tests/unit/RoleCredentials.js
  yarn.lock
Due: none

upgrade CI cloudserver version
  package.json
  yarn.lock
Due: none

Adapt config post bump eslint to v9
  eslint.config.mjs
Due: none

fixup lint md errors
  README.md
  docs/lifecycle.md
Due: none

fix tests hanging due to mocha bump
  .github/workflows/tests.yaml
Due: none

docker syntheticbucketd ts error fix
  .github/dockerfiles/syntheticbucketd/Dockerfile
Due: none

bump dependencies
  package.json
  yarn.lock
Due: none

functional tests fixups
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: none

fix extra spaces and missing EOF lines
  eslint.config.mjs
  lib/BackbeatConsumer.js
  tests/unit/RoleCredentials.js
  tests/utils/DummyLogger.js
Due: Core Library

fix conductor async tests that were not waiting for a return
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: none

assert mongo connect call
  tests/unit/utils/LocationStatusStream.spec.js
Due: none

update README broken badge
  README.md
Due: none

rewrite extension index function
  extensions/index.js
Due: none

reduce falkiness of replication tests
  tests/functional/replication/queueProcessor.js
Due: none

update version to 9.0.0
  package.json
Due: none

Do not delete Zenko object when not in OOB
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

gha: bump codecov@v5
  .github/actions/ft-test/action.yaml
  .github/workflows/tests.yaml
Due: none

debug
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

Properly handle archive
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Make OOB logic safer
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Use x-amz-meta-scal-version-id when ingesting object
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

Set `doesNotNeedOpogUpdate` when deleting entries
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Require oplog update only when archived
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Use overhead field to handle delete while restored
  extensions/mongoProcessor/MongoQueueProcessor.js
  lib/models/DeleteOpQueueEntry.js
  lib/models/QueueEntry.js
  lib/queuePopulator/LogReader.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library, Ingestion

Add openssl to image
  Dockerfile
Due: none

Fix use of commander package
  bin/ensureServiceUser
  bin/replication.js
Due: none

Release 9.0.1
  package.json
Due: none

ensureServiceUser: fix action function not having access to global vars
  bin/ensureServiceUser
Due: none

ensureServiceUser: fix global options not accessible in action function
  bin/ensureServiceUser
Due: none

suppress aws-sdk v2 warning
  Dockerfile
Due: none

release 9.0.2
  package.json
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
