Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

BB-782: Isolate shutdown tests per-test to avoid group-rejoin assignment stall
  tests/functional/lib/BackbeatConsumer.js
Due: none

BB-782: Guard isPaused() against disconnected consumer; isolate GC tests
  lib/BackbeatConsumer.js
  tests/functional/replication/queueProcessor.js
Due: Core Library

BB-787: Restart CRR consumer stuck past drain timeout
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/replication/QueueProcessorStuckExit.spec.js
Due: Core Library, Replication

BB-787: Narrate stuck-consumer story in logs
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
  tests/unit/replication/QueueProcessorStuckExit.spec.js
Due: Core Library, Replication

chore: depend on arsenal OTEL tracing module
  package.json
  yarn.lock
Due: none

feat: replace in-tree tracing with arsenal shim
  lib/tracing/index.js
Due: Core Library

BB-787: Exit CRR consumer stuck past drain timeout
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/replication/QueueProcessorStuckExit.spec.js
Due: Core Library, Replication

feat(lifecycle): alert when index creation fails
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

feat(lifecycle): emit putBucketIndexesFailed metric on index creation error
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

fixup! BB-787: Exit CRR consumer stuck past drain timeout
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
Due: Core Library, Replication

fixup! BB-787: Exit CRR consumer stuck past drain timeout
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/replication/QueueProcessorStuckExit.spec.js
Due: Core Library, Replication

BB-788: Name stuck tasks and gate state in logs
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library, Replication

BB-787: Exit CRR consumer stuck past drain timeout
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
Due: Core Library

BB-787: bump package.json to 9.0.28
  package.json
Due: none

BB-788: Log stuck task identities on rebalance timeout
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

feat: instrument backbeat pods and the Kafka pipeline
  bin/queuePopulator.js
  extensions/gc/service.js
  extensions/lifecycle/bucketProcessor/task.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/conductor/service.js
  extensions/lifecycle/objectProcessor/task.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/destination/KafkaNotificationDestination.js
  extensions/notification/queueProcessor/task.js
  extensions/replication/ReplicationAPI.js
  extensions/replication/ReplicationQueuePopulator.js
  extensions/replication/queueProcessor/task.js
  extensions/replication/replicationStatusProcessor/task.js
  lib/BackbeatConsumer.js
  lib/BackbeatProducer.js
  lib/queuePopulator/QueuePopulatorExtension.js
  tests/unit/lib/BackbeatConsumer.spec.js
  tests/unit/lifecycle/LifecycleTask.spec.js
  tests/unit/notification/KafkaNotificationDestination.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/queuePopulator/QueuePopulatorExtension.spec.js
  tests/unit/replication/ReplicationAPI.spec.js
  tests/utils/withActiveSpan.js
Due: Bucket Notification, Core Library, Lifecycle, Replication

Stabilize "publish topic metrics" functional test
  tests/functional/lib/BackbeatConsumer.js
Due: none

Revert "BB-788: Log stuck task identities on rebalance timeout"
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Enrich consumer stuck logs for incident diagnosis
  lib/BackbeatConsumer.js
Due: Core Library

Fix bootstrap consumer leaking messages to silent discard
  lib/BackbeatConsumer.js
Due: Core Library

Bump package.json to 9.0.29
  package.json
Due: none

Bump package.json to 9.1.12
  package.json
Due: none

Bump package.json to 9.2.7
  package.json
Due: none

Bump package.json to 9.3.5
  package.json
Due: none

Support per-backend role and destination in replication engine
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  extensions/replication/utils/getLocationsFromStorageClass.js
  lib/api/BackbeatAPI.js
  lib/models/ObjectQueueEntry.js
  lib/models/QueueEntry.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/functional/replication/queueProcessor.js
  tests/functional/replication/streamedCopy.spec.js
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/lib/models/ObjectQueueEntry.spec.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
  tests/unit/replication/MultipleBackendTask.js
  tests/unit/replication/QueueEntry.spec.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicateObject.spec.js
  tests/unit/replication/UpdateReplicationStatus.js
  tests/unit/replication/getLocationsFromStorageClass.js
Due: Core Library, Ingestion, Replication

Bump arsenal dependendcy
  package.json
  yarn.lock
Due: none

Improve unit coverage of replication code paths
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/UpdateReplicationStatus.js
Due: none

ci: adopt shared review skill, move criteria to copilot-instructions
  .claude/skills/review-pr/SKILL.md
  .github/copilot-instructions.md
Due: none

ci: modernize review workflow to latest standard
  .github/workflows/review.yml
Due: none

Process master entry on ObjectRestore:Retry
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Bump package.json to 9.5.0-preview.1
  package.json
Due: none

feat(lifecycle): support Days=0 expiration in RulesReducer
  extensions/lifecycle/util/RulesReducer.js
  tests/unit/lifecycle/RulesReducer.spec.js
  tests/unit/lifecycle/RulesReducerWithVersion.spec.js
  tests/unit/lifecycle/rules.spec.js
  tests/unit/lifecycle/rulesWithVersion.spec.js
Due: Lifecycle

Bump werelogs to 8.2.4
  package.json
  yarn.lock
Due: none

Bump arsenal to 8.3.13
  package.json
  yarn.lock
Due: none

Bump arsenal to 8.4.13
  package.json
  yarn.lock
Due: none

Bump arsenal to 8.5.2
  package.json
  yarn.lock
Due: none

refactor replicateObject to more modern js, remove as many cb as possible, use async await when possible
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/tasks/BackbeatTask.js
  lib/util/mapLimitWaitPendingIfError.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Core Library, Replication

Add lifecycle scan metric helpers.
  extensions/lifecycle/LifecycleMetrics.js
  tests/unit/lifecycle/LifecycleMetrics.spec.js
Due: Lifecycle

Track conductor scans with a scan id and lifecycle metrics.
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
  tests/utils/BackbeatTestConsumer.js
  tests/utils/fakeLogger.js
Due: Lifecycle

Propagate the conductor scan context through lifecycle tasks.
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleTaskV2.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  lib/models/ActionQueueEntry.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Core Library, Lifecycle
