Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

S3C-11127: restart only the workgroup that wedged, on the group it already has
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: show the duplicates a cutover is accruing in the drain report
  bin/notificationWorkgroupCutover.js
  extensions/notification/deliveryWorker/WorkgroupCutover.js
  tests/unit/notification/workgroupCutover.spec.js
Due: Bucket Notification

S3C-11127: record which generation 1 workgroup moved when the barrier wait times out
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: look for a wedged generation 1 workgroup one workgroup at a time
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: create each gate's topics in that gate, not the whole run's up front
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: survive closing a delivery producer that never connected
  extensions/notification/deliveryWorker/DeliveryProducerPool.js
  tests/unit/notification/DeliveryProducerPool.spec.js
Due: Bucket Notification

Ignore a deferred un-assign superseded by a later rebalance
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Add a helper telling whether a location is remote
  lib/util/locations.js
Due: Core Library

Read the mongo client config from the extension
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/mongoProcessorTask.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Whitelist health check addresses only when an API is served
  lib/Config.js
  tests/unit/lib/config/Config.spec.js
Due: Core Library

Introduce a processor mode, defaulting to ingestion
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/mongoProcessor/modes/IngestionMode.js
  extensions/mongoProcessor/modes/ProcessorMode.js
  extensions/mongoProcessor/modes/index.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
  tests/unit/mongoProcessor/ProcessorMode.spec.js
Due: Ingestion

Add the D/R mode
  extensions/mongoProcessor/modes/DRMode.js
  extensions/mongoProcessor/modes/index.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Read the service account from the extension
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/mongoProcessorTask.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Extract the drain predicate into a method
  lib/BackbeatConsumer.js
Due: Core Library

Hoist the functional waitFor helper to module scope
  tests/functional/lib/BackbeatConsumer.js
Due: none

Leave the consumer group explicitly on shutdown
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Stop consuming once the shutdown has started
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Answer every rebalance callback raised during shutdown
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Answer every caller when close() is called more than once
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Census: detect a superseded deferred un-assign without fixing it
  lib/BackbeatConsumer.js
  lib/constants.js
Due: Core Library

Census: measure how often a deferred un-assign is superseded
  .github/harness/rebalance-census.js
  .github/workflows/rebalance-census.yaml
Due: none

Census: reproduce the trace's shape, and bound what the untreated tree wedges
  .github/harness/rebalance-census.js
  .github/workflows/rebalance-census.yaml
Due: none

Census: add a shutdown scenario, and stop biasing churn toward the fix
  .github/harness/rebalance-census.js
  .github/workflows/rebalance-census.yaml
Due: none

Guard the deferred un-assign against a superseding rebalance
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Add a functional repro for the superseded deferred un-assign
  tests/functional/lib/BackbeatConsumerRebalanceSupersede.js
Due: none

Migrate BackbeatConsumer.close to async/await
  lib/BackbeatConsumer.js
Due: Core Library

Leave the consumer group promptly on shutdown
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Abort the rebalance when a grant supersedes a parked revoke
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/functional/lib/BackbeatConsumerRebalanceAbort.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Trigger cold transition from oplog
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Skip master entries before adjusting restore expiry
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Dispatch oplog entries from filter()
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

S3C-11127: add the reshard gate, its happy path and its partial pre-seed
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: add the remaining reshard scenarios, and stop losing the reason a gate failed
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: stop the overlap scenarios by workgroup id rather than by map
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: state the early stop gap as containment, not equality
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: reconfirm topic metadata before every join, and outlast a wedge recovery
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: give the recovery scenario a destination in each old workgroup
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: give a wait that has been through a restart far longer than one that has not
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: make the stalled drain an observed fact, not a coincidence of timing
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: wait for the defector's commit, do not read it once
  tests/functional/deliverypool/workgroups.js
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
