Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Fix bucket notification at the end of archive
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
Due: Lifecycle

Add metrics for lifecycle lateness
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  extensions/replication/tasks/CopyLocationTask.js
Due: Lifecycle, Replication

BB-477 [backport 7.10] Clear originOp when updating replication status
  extensions/replication/tasks/UpdateReplicationStatus.js
Due: Replication

Add transition processor alerts
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Add lifecycle latency alert
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Add late conductor scan alerts
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Update tests
  .github/workflows/alerts.yaml
Due: none

Release 8.6.31
  package.json
Due: none

BB-477 [test] add UpdateReplicationStatus unit test
  tests/unit/replication/UpdateReplicationStatus.spec.js
Due: none

BB-477 [8.6+] [test] port originOp unit test from 7.10
  tests/unit/replication/UpdateReplicationStatus.js
Due: none

use mongo operation time as notification timestamp
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/constants.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  lib/queuePopulator/KafkaLogConsumer/ListRecordStream.js
  lib/queuePopulator/LogReader.js
Due: Bucket Notification, Core Library, Lifecycle, Replication

update tests
  tests/unit/lib/queuePopulator/LogReader.spec.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/ListRecordStream.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/replication/UpdateReplicationStatus.js
Due: none

remove useless $toDate projection
  extensions/oplogPopulator/OplogPopulator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

BB-473 Probe response logic should be handled in the handler
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/queuePopulator/QueuePopulator.js
  lib/util/probe.js
  package.json
  tests/unit/QueuePopulator.spec.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicationStatusProcessor.js
  yarn.lock
Due: Core Library, Replication

bump version
  package.json
Due: none

BB-466 Dealing with expired zookeeper sessions
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/notification/queueProcessor/QueueProcessor.js
  lib/KafkaBacklogMetrics.js
  lib/api/BackbeatAPI.js
  lib/api/Healthcheck.js
  lib/clients/ZookeeperManager.js
  lib/provisioning/ProvisionDispatcher.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/QueuePopulatorExtension.js
  tests/functional/lib/ZookeeperManager.js
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/functional/notification/NotificationConfigManager.js
  tests/functional/utils/mockZookeeperClient.js
  tests/unit/ProvisionDispatcher.spec.js
  tests/unit/clients/ZookeeperManager.js
Due: Bucket Notification, Core Library, Lifecycle

BB-466 bump version
  package.json
Due: none

BB-477 bump backbeat version
  package.json
Due: none

bump breakbeat to v1.0.2
  package.json
  yarn.lock
Due: none

BB-477 [hotfix] bump version to 7.10.12-2
  package.json
Due: none

Fix lifecycle late scan alert firing
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Cleanup alert jobs
  .github/workflows/alerts.yaml
Due: none

Release 8.6.32
  package.json
Due: none

Add label to lifecycle conductor metrics
  extensions/lifecycle/LifecycleMetrics.js
Due: Lifecycle

Fix handling of `kube_service_created` in LifecycleLateScan
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Use max_over_time for LifecycleLateScan
  monitoring/lifecycle/alerts.yaml
Due: none

Release backbeat 8.6.33
  package.json
Due: none

BB-423: bump mongodb to v5.0 in the ci
  .github/dockerfiles/mongodb/Dockerfile
Due: none

Use max_over_time for LifecycleLateScan warning
  monitoring/lifecycle/alerts.yaml
Due: none

Release backbeat 8.6.34
  package.json
Due: none

Fix error handling in GarbageCollectorTask when object is not found, no need to continue trying to delete it
  extensions/gc/tasks/GarbageCollectorTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/mocks.js
Due: Lifecycle

Fix location in _adjustRestoreMaxAge
  extensions/lifecycle/LifecycleQueuePopulator.js
Due: Lifecycle

Fix serializing expiryDate on adjust restore date
  extensions/lifecycle/LifecycleQueuePopulator.js
Due: Lifecycle

Release backbeat 8.6.35
  package.json
Due: none

feature: BB-246 allow replication of non versioned master keys
  extensions/replication/ReplicationQueuePopulator.js
Due: Replication

Add Up status for every lifecycle pod
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

support restarting connectors in the oplog populator
  extensions/oplogPopulator/modules/Connector.js
  lib/wrappers/KafkaConnectWrapper.js
  tests/unit/lib/wrappers/kafkaConnectWrapper.js
  tests/unit/oplogPopulator/Connector.js
Due: Core Library, Oplog Populator

Refactor lifecycle dashboard to use Metrics class
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none
