Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

BB-727: Fix comment typo
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

BB-727: Log bucket for invalid config error
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

BB-727: removeConfig only locally on NODE_DELETED
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

BB-727: Check and warn event emitter leak early
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

BB-727: Better print buffer in logs
  lib/BackbeatConsumer.js
Due: Core Library

BB-727: Watch created config in queuePopulator
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

BB-727: Separate list and get configs
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

BB-727: Log as debug the list of buckets
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

BB-727: Improve mkdirp to create znode with data
  extensions/notification/configManager/ZookeeperConfigManager.js
  lib/clients/ZookeeperManager.js
Due: Bucket Notification, Core Library

BB-727: Update tests to use ZookeeperManager
  tests/unit/notification/configManager/ZookeeperConfigManager.spec.js
Due: none

BB-727: Unit test mkdirpWithChildDataOnly
  tests/unit/clients/ZookeeperManager.js
Due: none

BB-727: Log zookeeper details
  lib/clients/ZookeeperManager.js
  tests/unit/clients/ZookeeperManager.js
Due: Core Library

Supporting passing Kafka basic auth creds in environment variables
  Dockerfile
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/queueProcessor/task.js
  extensions/notification/utils/auth.js
  tests/unit/notification/NotificationConfigValidator.js
  tests/unit/notification/utils/auth.js
Due: Bucket Notification

Prevent duplicate lifecycle bucket continuation processing
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/tasks/LifecycleTask.js
  lib/BackbeatProducer.js
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/lifecycle/LifecycleTaskV2-versioned.js
  tests/functional/lifecycle/LifecycleTaskV2.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Core Library, Lifecycle

bump arsenal to 8.3.0-preview.1
  package.json
  yarn.lock
Due: none

BB-736 Improve logs when CRR fails due to missing s3:ReplicateObject
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  lib/util/replicationPermissionError.js
  tests/unit/lib/util/replicationPermissionError.spec.js
Due: Core Library, Replication

fix to support AWS SDK V3
  lib/util/replicationPermissionError.js
Due: Core Library

BB-736 bump version
  package.json
Due: none

bump package version
  package.json
Due: none

Release backbeat 9.1.5
  package.json
Due: none

replication: Fetch object again if locations were stripped
  extensions/replication/tasks/ReplicateObject.js
  tests/functional/replication/queueProcessor.js
Due: Replication

oplog: Strip locations when the array is large
  conf/config.json
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

oplog: Strip locations when the array is large
  conf/config.json
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
  tests/unit/oplogPopulator/OplogPopulatorConfigValidator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

bump arsenal to 8.3.0
  package.json
  yarn.lock
Due: none

pull cloudserverclient from npm
  package.json
  yarn.lock
Due: none

fix linter warnings
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/index.js
  extensions/replication/tasks/MultipleBackendTask.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification, Replication

debug
  .github/workflows/tests.yaml
  lib/tasks/BackbeatTask.js
  package.json
Due: Core Library

remove err.code redundant with err.code
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
  lib/tasks/BackbeatTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
Due: Core Library, Lifecycle, Replication

test bump
  .github/workflows/tests.yaml
  package.json
  yarn.lock
Due: none

change import client
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
  lib/clients/ClientManager.js
  lib/queuePopulator/IngestionProducer.js
  tests/functional/ingestion/S3Mock.js
  tests/functional/lib/BackbeatClient.js
Due: Core Library, Ingestion, Replication

fix linter issues
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/index.js
  extensions/replication/tasks/MultipleBackendTask.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification, Replication

refactor attachRequestUids
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
  lib/clients/utils.js
  lib/queuePopulator/IngestionProducer.js
Due: Core Library, Ingestion, Lifecycle, Replication

remove todo from vault-238
  bin/ensureServiceUser
  extensions/utils/VaultClientWrapper.js
Due: Core Library
