Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

return error when conditional update fails
  lib/util/LocationStatusManager.js
Due: Core Library

add unit tests
  tests/unit/lib/util/LocationStatusManager.spec.js
Due: none

remove linear filtering from initial setup
  lib/util/LocationStatusManager.js
  tests/unit/lib/util/LocationStatusManager.spec.js
Due: Core Library

fix initializing phase of BackbeatAPI
  lib/util/LocationStatusManager.js
Due: Core Library

Fix lifecycleMetrics error log
  extensions/lifecycle/LifecycleMetrics.js
Due: Lifecycle

BB-724: Use originOp from overheadFields
  extensions/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
Due: Bucket Notification

BB-724: Bump version
  package.json
Due: none

Add params to lifecycle error log
  extensions/lifecycle/LifecycleMetrics.js
  tests/unit/lifecycle/LifecycleMetrics.spec.js
Due: Lifecycle

Fix transitionTime for ExpiredObjectDeleteMarker
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Ensure we don't try to transition deleteMarkers
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleTaskV2.js
Due: Lifecycle

Add functional tests
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/lifecycle/LifecycleTaskV2-versioned.js
  tests/functional/lifecycle/LifecycleTaskV2.js
Due: none

Use special location when expiring delete marker
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

first round of migration
  bin/ensureServiceUser
  bin/replication.js
  extensions/lifecycle/management.js
  extensions/replication/management.js
  extensions/replication/utils/SetupReplication.js
  extensions/utils/VaultClientWrapper.js
  lib/clients/utils.js
  lib/credentials/AccountCredentials.js
  lib/credentials/CredentialsManager.js
  lib/credentials/RoleCredentials.js
  package.json
  tests/functional/ingestion/S3Mock.js
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/queuePopulator/queuePopulator.spec.js
  tests/unit/credentials/CredentialsManager.js
  yarn.lock
Due: Core Library, Lifecycle, Replication

BB-705: Bump rdkafka to fix DEP0048 util.isError()
  package.json
  yarn.lock
Due: none

Release backbeat 9.1.1
  package.json
Due: none

Do not set lastModified for NCV action
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Release backbeat 8.6.57
  package.json
Due: none

Release backbeat 9.0.19
  package.json
Due: none

Release backbeat 9.1.2
  package.json
Due: none

test
  .github/workflows/tests.yaml
  extensions/replication/tasks/MultipleBackendTask.js
Due: Replication

debug
  bin/backbeat.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/management/operatorBackend.js
Due: Core Library, Replication

BB-729 Fix CRR role policy permissions for echo mode
  extensions/replication/utils/SetupReplication.js
Due: Replication

BB-729 bump package json
  package.json
Due: none

Release backbeat 9.0.20
  package.json
Due: none

BB-728: Filter out internal cloudserver buckets
  extensions/notification/NotificationQueuePopulator.js
  extensions/replication/ReplicationQueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Bucket Notification, Replication

BB-731 upgrade kafka to 3.9.0
  .github/dockerfiles/ft/docker-compose.yaml
  .github/dockerfiles/kafka/Dockerfile
  .github/dockerfiles/kafka/start-kafka.sh
  .github/workflows/tests.yaml
Due: none

Run CRR locally
  conf/config.json
  extensions/replication/tasks/ReplicateObject.js
Due: Replication

Supporting passing Kafka basic auth creds in environment variables
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/queueProcessor/task.js
  extensions/notification/utils/auth.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification

BB-731 downgrade to kafka 3.8.1 for lifecycle compat
  .github/dockerfiles/kafka/Dockerfile
Due: none

🐛 make sts port optional
  lib/clients/ClientManager.js
  lib/clients/utils.js
  lib/config/configItems.joi.js
Due: Core Library

🐛 accept empty string in the config
  extensions/replication/tasks/ReplicateObject.js
  lib/config/configItems.joi.js
Due: Core Library, Replication

🐛 manage more part where port can be missing
  extensions/lifecycle/management.js
  extensions/replication/management.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/utils/SetupReplication.js
  extensions/utils/VaultClientWrapper.js
  lib/clients/utils.js
Due: Core Library, Lifecycle, Replication

Fix generating policies/dashboards images on non-tag CI builds
  .github/actions/push-assets/action.yml
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
Due: none

Make CRR destination sts port optional
  extensions/replication/ReplicationConfigValidator.js
  lib/constants.js
  tests/unit/replication/ReplicationConfigValidator.spec.js
Due: Core Library, Replication

Fix indent
  tests/unit/replication/ReplicationConfigValidator.spec.js
Due: none

fixup! Fix generating policies/dashboards images on non-tag CI builds
  .github/actions/push-assets/action.yml
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
Due: none

fixup! Fix generating policies/dashboards images on non-tag CI builds
  .github/workflows/release.yaml
Due: none

Release backbeat 9.1.4
  package.json
Due: none

fixup! Fix generating policies/dashboards images on non-tag CI builds
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
Due: none
