Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Use cloudserver image instead of dependency
  .github/actions/ft-test/action.yaml
  .github/scripts/run_ft_tests.bash
Due: none

Ensure lifecycle tasks wait for messages to be pushed
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleTaskV2.js
Due: Lifecycle

Bump node 22
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
  package.json
  yarn.lock
Due: none

dependencies bump
  package.json
  yarn.lock
Due: none

Update Dockerfile to use node 22
  .github/workflows/tests.yaml
  Dockerfile
Due: none

try
  conf/config.json
  package.json
  tests/config.json
  tests/config.notification.json
  tests/unit/lib/config/config.json
  yarn.lock
Due: none

try
  tests/functional/replication/queueProcessor.js
Due: none

gha: bump codecov@v5
  .github/actions/ft-test/action.yaml
  .github/workflows/tests.yaml
Due: none

Do not delete Zenko object when not in OOB
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

Fix dockerfile lint issues
  Dockerfile
Due: none

try
  .github/workflows/tests.yaml
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/utils/VaultClientWrapper.js
  lib/BackbeatConsumer.js
  lib/BackbeatMetadataProxy.js
  lib/clients/ClientManager.js
  lib/config.joi.js
  lib/models/QueueEntry.js
  lib/queuePopulator/IngestionProducer.js
  tests/functional/replication/queueProcessor.js
Due: Core Library, Ingestion, Replication

node18
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
  Dockerfile
  package.json
  yarn.lock
Due: none

node20
  .github/workflows/tests.yaml
  Dockerfile
  package.json
  yarn.lock
Due: none

node20
  .github/dockerfiles/syntheticbucketd/Dockerfile
Due: none

fixup
  tests/functional/replication/queueProcessor.js
Due: none

Fix feature replication tests
  .github/scripts/run_ft_tests.bash
  tests/functional/replication/queueProcessor.js
Due: none

rollback on ipv4
  tests/functional/replication/queueProcessor.js
Due: none

merry christmas
  lib/credentials/RoleCredentials.js
  tests/functional/replication/queueProcessor.js
Due: Core Library

Sayonara, Kyks-san :(
  tests/functional/replication/queueProcessor.js
Due: none

bump arsenal hash
  package.json
  yarn.lock
Due: none

Fixup on arsenal errors for replication ft tests
  lib/credentials/RoleCredentials.js
Due: Core Library

Use x-amz-meta-scal-version-id when ingesting object
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

debug
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

fixup on packages and misc tests
  package.json
  yarn.lock
Due: none

BB-640 package version bump
  package.json
Due: none

Set `doesNotNeedOpogUpdate` when deleting entries
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Make OOB logic safer
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Properly handle archive
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Use overhead field to handle delete while restored
  extensions/mongoProcessor/MongoQueueProcessor.js
  lib/models/DeleteOpQueueEntry.js
  lib/models/QueueEntry.js
  lib/queuePopulator/LogReader.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Core Library, Ingestion

Require oplog update only when archived
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

BB-640 Add VersioningEnabled header to Backbeat client
  extensions/replication/tasks/ReplicateObject.js
  lib/clients/backbeat-2017-07-01.api.json
Due: Core Library, Replication

BB-640 bump package version
  package.json
Due: none

Migrate to ghcr
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none
