Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Introduce a metadata policy, defaulting to ingestion
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/mongoProcessor/metadataPolicy/IngestionMetadataPolicy.js
  extensions/mongoProcessor/metadataPolicy/MetadataPolicy.js
  extensions/mongoProcessor/metadataPolicy/index.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/unit/mongoProcessor/MetadataPolicy.spec.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Add the pull replication metadata policy
  extensions/mongoProcessor/metadataPolicy/PullReplicationMetadataPolicy.js
  extensions/mongoProcessor/metadataPolicy/index.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/functional/ingestion/PullReplication.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Replace an object overwritten in place
  extensions/mongoProcessor/metadataPolicy/PullReplicationMetadataPolicy.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Group ingestion source error alerts by operation
  monitoring/ingestion/ingestion-producer-alert.yaml
Due: none

Test the ingestion producer source error alerts
  .github/workflows/alerts.yaml
  monitoring/ingestion/ingestion-producer-alert.test.yaml
Due: none

Update bucketclient to 8.3.0
  CLAUDE.md
  extensions/lifecycle/conductor/LifecycleConductor.js
  lib/management/patchConfiguration.js
  lib/management/pensieveBackend.js
  lib/queuePopulator/RaftLogReader.js
  package.json
  yarn.lock
Due: Core Library, Lifecycle

Drop the direct fcntl dependency and normalise git dep URLs
  package.json
  yarn.lock
Due: none

Install arsenal and breakbeat from the npm registry
  CLAUDE.md
  extensions/lifecycle/CircuitBreakerGroup.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  lib/BackbeatConsumer.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/QueuePopulator.js
  package.json
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
  yarn.lock
Due: Core Library, Ingestion, Lifecycle

Use the scoped @scality/eslint-config-scality package name
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

Use the scoped @scality/cloudserver dev dependency
  .github/scripts/run_ft_tests.bash
  circle.yml
  package.json
  yarn.lock
Due: none

Rebuild yarn.lock from scratch
  yarn.lock
Due: none

Bump the OpenTelemetry instrumentations
  package.json
  yarn.lock
Due: none

Rename to @scality/backbeat and release 9.6.0-preview.2
  package.json
Due: none

Bump arsenal for the ObjectMD copy constructor fix
  lib/models/ObjectQueueEntry.js
  package.json
  tests/unit/replication/QueueEntry.spec.js
  yarn.lock
Due: Core Library

Keep only the targeted backend in the replica metadata
  lib/models/ObjectQueueEntry.js
  tests/functional/replication/queueProcessor.js
  tests/unit/lib/models/ObjectQueueEntry.spec.js
  tests/unit/replication/QueueEntry.spec.js
Due: Core Library

Bump package.json to 9.5.3
  package.json
Due: none

Stop computing the global replication status in the data processor
  extensions/replication/tasks/ReplicateObject.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Replication

Honor transitionOneDayEarlier in lifecycle transitions
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Keep lifecycle transition deadlines on the real clock
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Derive the circuit breaker expectations from the location config
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
Due: none

Treat a missing object as the expected outcome it is
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

Whitelist health check addresses only when an API is served
  lib/Config.js
  tests/unit/lib/config/Config.spec.js
Due: Core Library

Accept a configuration that runs no queue populator
  lib/config.joi.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
  tests/unit/lib/config/config.joi.spec.js
Due: Core Library

Encode the source version before reading the source
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Replication

pull replication: target a null master by its versionId
  extensions/mongoProcessor/metadataPolicy/PullReplicationMetadataPolicy.js
  tests/functional/ingestion/MongoQueueProcessor.js
Due: Ingestion

Release 9.6.0-preview.3
  package.json
Due: none

Exit the oplog populator when the metastore stream is invalidated
  extensions/oplogPopulator/OplogPopulator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Declare @smithy/service-error-classification dependency
  lib/clients/utils.js
  package.json
  tests/unit/clients/utils.spec.js
  yarn.lock
Due: Core Library

Declare @smithy/protocol-http dev dependency
  package.json
  yarn.lock
Due: none

Drop unused ioctl, minimatch and node-forge dependencies
  package.json
  yarn.lock
Due: none

Lint for undeclared dependencies
  eslint.config.mjs
Due: none

Release 9.6.0-preview.4
  package.json
Due: none

Remove the pensieve management backend
  .github/workflows/tests.yaml
  docs/configuration.md
  docs/run-oob-locally.md
  lib/management/convertServiceStateFormat.js
  lib/management/index.js
  lib/management/patchConfiguration.js
  lib/management/pensieveBackend.js
  lib/management/serviceState.js
  tests/functional/ingestion/DummyPensieveCredentials.json
  tests/functional/ingestion/DummySSHKey.json
  tests/functional/ingestion/IngestionReader.js
  tests/unit/management/convertServiceStateFormat.spec.js
  tests/unit/management/patchConfiguration.js
Due: Core Library

Exec mongod in the CI MongoDB entrypoint
  .github/dockerfiles/mongodb/conf/mongo-run.sh
Due: none
