Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Update mongodb to use promises instead of callbacks
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  extensions/utils/LocationStatusStream.js
  lib/api/BackbeatAPI.js
  lib/util/LocationStatusManager.js
  tests/functional/ingestion/IngestionReader.js
Due: Bucket Notification, Core Library, Oplog Populator

Fix bad usage of sinon yields, using resolves instead
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  lib/util/LocationStatusManager.js
  tests/config.json
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/lib/util/LocationStatusManager.spec.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Bucket Notification, Core Library, Oplog Populator

Refactor LocationStatusManager tests to use resolves instead of yields for sinon stubs
  tests/unit/lib/util/LocationStatusManager.spec.js
Due: none

Fix feature replication tests
  .github/scripts/run_ft_tests.bash
  tests/functional/replication/queueProcessor.js
Due: none

Release 9.0.0-preview.1
  package.json
Due: none

Properly initialize retry params for lifecycle
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleRequeueTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  lib/tasks/BackbeatTask.js
  tests/unit/lifecycle/LifecycleRetriggerRestoreTask.spec.js
Due: Core Library, Lifecycle

Bump backbeat 8.6.53
  package.json
Due: none

Add wildcard constant as a way to detect unique pipelines
  extensions/oplogPopulator/constants.js
Due: Oplog Populator

Create the UniqueConnector allocation strategy
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/allocationStrategy/UniqueConnector.js
Due: Oplog Populator

Update existing tests
  tests/unit/oplogPopulator/Allocator.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/ImmutableConnector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: none

Introduce pipeline factories
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  extensions/oplogPopulator/allocationStrategy/UniqueConnector.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

Bind the event in the strategy decorator
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: Oplog Populator

Rename getOldConnectors to processOldConnectors
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

Update unit tests
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/AllocationStrategy.js
  tests/unit/oplogPopulator/allocationStrategy/UniqueConnector.js
  tests/unit/oplogPopulator/oplogPopulator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/PipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: none

Delete porevious connectors not matching the strategy
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

Use the UniqueConnector when the number of connector in conf is 0
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: Oplog Populator

Manage the pipeline factory out of the allocation strategy
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  package.json
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/AllocationStrategy.js
  tests/unit/oplogPopulator/oplogPopulator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/PipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

Remove useless note in test
  tests/unit/oplogPopulator/pipeline/PipelineFactory.js
Due: none

Test scotch to confirm
  tests/functional/replication/queueProcessor.js
Due: none

bump arsenal hash
  package.json
  yarn.lock
Due: none

Fix source params of GC for restore-expiration
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
Due: Lifecycle

Release Backbeat 8.6.54
  package.json
Due: none

bump mongo 6.11.0
  package.json
  yarn.lock
Due: none

reenable all unit tests testing
  package.json
Due: none

Fix bad usage of sinon yields, using resolves instead
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  lib/util/LocationStatusManager.js
  tests/config.json
  tests/functional/notification/NotificationConfigManager.js
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/lib/util/LocationStatusManager.spec.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Bucket Notification, Core Library, Oplog Populator

Fixup test setup due to mongoClient circular struct
  tests/functional/ingestion/IngestionReader.js
Due: none

Fixup test and coverage improvement
  tests/unit/utils/LocationStatusStream.spec.js
Due: none

Enable debug logging into CI
  .github/actions/debug-wait/action.yaml
  .github/workflows/tests.yaml
Due: none

Fix lint warning
  extensions/replication/tasks/ReplicateObject.js
Due: Replication

BB-640 Add VersioningEnabled header to Backbeat client
  extensions/replication/tasks/ReplicateObject.js
  lib/clients/backbeat-2017-07-01.api.json
Due: Core Library, Replication

Bump node 22
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
  package.json
  yarn.lock
Due: none

Use cloudserver image instead of dependency
  .github/actions/ft-test/action.yaml
  .github/scripts/run_ft_tests.bash
Due: none

Update Dockerfile to use node 22
  .github/workflows/tests.yaml
  Dockerfile
Due: none

Fix startup command to propagate OS signals
  images/federation/Dockerfile
Due: none

Build federation image from regular image
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
  images/federation/Dockerfile
  images/nodesvc-base/Dockerfile
Due: none

debug
  .github/workflows/tests.yaml
  conf/config.json
  tests/config.json
  tests/config.notification.json
  tests/unit/lib/config/config.json
Due: none
