Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Drop the unused "mongo" log source from the queue populator
  conf/config.json
  lib/config.joi.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/MongoLogReader.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/conf/configs/replicationMultiDestConfig.json
  tests/unit/conf/configs/replicationServersConfig.json
  tests/unit/lib/config/config.json
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library, Ingestion

refactor map limit parallel into async function
  lib/util/mapLimitWaitPendingIfError.js
  lib/util/runTasksWithConcurrency.js
  tests/unit/lib/util/mapLimitWaitPendingIfError.spec.js
  tests/unit/lib/util/runTasksWithConcurrency.spec.js
Due: Core Library

refactor replicateObject with async await
  extensions/replication/tasks/ReplicateObject.js
  lib/tasks/BackbeatTask.js
  tests/functional/replication/streamedCopy.spec.js
  tests/unit/lib/tasks/BackbeatTask.spec.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Core Library, Replication

update multipleBackend following replicateObject async migration
  extensions/replication/tasks/MultipleBackendTask.js
  tests/unit/replication/MultipleBackendTask.js
Due: Replication

BB-842: bump package.json to 9.5.1
  package.json
Due: none

Trim stale source-selection jsdoc from IngestionPopulator
  lib/queuePopulator/IngestionPopulator.js
Due: Core Library, Ingestion

Add producerParams support to BackbeatProducer
  extensions/gc/GarbageCollectorProducer.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/replication/failedCRR/FailedCRRProducer.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replay/ReplayProducer.js
  lib/BackbeatProducer.js
  lib/MetricsProducer.js
  lib/api/BackbeatAPI.js
  lib/config.joi.js
  lib/queuePopulator/LogReader.js
  tests/unit/backbeatProducer.js
Due: Core Library, Lifecycle, Replication

Allow ingestion extension to override global kafka producer params
  extensions/ingestion/IngestionConfigValidator.js
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

S3C-11127: add delivery key helper for addressed notifications
  extensions/notification/utils/deliveryKey.js
  tests/unit/notification/utils/deliveryKey.js
Due: Bucket Notification

S3C-11127: validate the notification delivery pool configuration
  extensions/notification/NotificationConfigValidator.js
  tests/config.notification.json
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification

S3C-11127: publish addressed entries when the delivery pool is enabled
  extensions/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
Due: Bucket Notification

S3C-11127: add shared delivery key helper for bucket notification
  extensions/notification/utils/deliveryKey.js
Due: Bucket Notification

S3C-11127: drain old notification topics into the delivery topic
  extensions/notification/deliveryWorker/DeliveryTopicDrainer.js
  tests/unit/notification/DeliveryTopicDrainer.spec.js
Due: Bucket Notification

S3C-11127: add notification delivery replay entrypoint
  bin/notificationDeliveryReplay.js
Due: none

S3C-11127: add pooled kafka producers for notification delivery
  extensions/notification/deliveryWorker/DeliveryKafkaProducer.js
  extensions/notification/deliveryWorker/DeliveryProducerPool.js
Due: Bucket Notification

S3C-11127: add the notification delivery worker
  extensions/notification/deliveryWorker/DeliveryWorker.js
  extensions/notification/deliveryWorker/task.js
  package.json
Due: Bucket Notification

S3C-11127: add unit tests for the notification delivery worker
  tests/unit/notification/DeliveryProducerPool.spec.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: none

S3C-11127: let each delivery worker bind its own probe port
  extensions/notification/deliveryWorker/probeConfig.js
  extensions/notification/deliveryWorker/task.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: Bucket Notification

S3C-11127: rename the probe port override to DELIVERY_PROBE_PORT
  extensions/notification/deliveryWorker/probeConfig.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: Bucket Notification

S3C-11127: revert the probe port override to DELIVERY_POOL_PROBE_PORT
  extensions/notification/deliveryWorker/probeConfig.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: Bucket Notification

feat(config): add schema-driven env override helper
  lib/config/envOverrides.js
Due: Core Library

feat(config): tag probeServer schema and alias mongo env names
  lib/config/configItems.joi.js
Due: Core Library

feat(config): add historic env-name aliases to top-level schema
  lib/config.joi.js
Due: Core Library

S3C-11127: add functional tests for the notification delivery pool
  package.json
  tests/functional/notification/deliveryPool.js
Due: none

support per extension log level
  bin/ingestion.js
  extensions/ingestion/IngestionConfigValidator.js
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/mongoProcessorTask.js
  lib/config/configItems.joi.js
  tests/unit/ingestion/IngestionConfigValidator.spec.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Core Library, Ingestion

feat(config): apply env overrides in memory before joi validation
  lib/Config.js
Due: Core Library

S3C-11127: bound the delivery pool test worker stops and offset polling
  tests/functional/notification/deliveryPool.js
Due: none

S3C-11127: pre-create the delivery pool test topics before any consumer starts
  tests/functional/notification/deliveryPool.js
Due: none

S3C-11127: cover the populator to destination seam in the delivery pool tests
  tests/functional/notification/deliveryPool.js
Due: none

S3C-11127: note the topic prefix asymmetry in the populator seam test
  tests/functional/notification/deliveryPool.js
Due: none

S3C-11127: move the delivery pool suite to its own entry point and temper spread comments
  extensions/notification/NotificationConfigValidator.js
  package.json
  tests/functional/deliverypool/deliveryPool.js
Due: Bucket Notification

Release backbeat 9.5.0
  package.json
Due: none

Move the QueueEntry spec next to the model it tests
  tests/unit/lib/models/QueueEntry.spec.js
Due: none

Accept object-valued value and overheadFields in kafka entries
  lib/models/QueueEntry.js
  tests/unit/lib/models/ObjectQueueEntry.spec.js
  tests/unit/lib/models/QueueEntry.spec.js
Due: Core Library

Add throwaway lib-suite flakiness census workflow
  .github/workflows/lib-census.yaml
  .github/workflows/tests.yaml
Due: none

Run the census at 25 per arm and fix outcome recording
  .github/workflows/alerts.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/lib-census.yaml
Due: none

Add arm D: HEAD with node-rdkafka 3.6.1
  .github/workflows/lib-census.yaml
Due: none

copy location task reads source location from s3 with STS
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  lib/Config.js
  lib/management/operatorBackend.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Core Library, Replication

Add arm E: the 9.5 skip branch
  .github/workflows/lib-census.yaml
Due: none

Skip the rebalance-sensitive consumer tests on 9.5
  tests/functional/lib/BackbeatConsumer.js
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
