Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Upgrade actions
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Do not build dashboards in 7.x
  .github/workflows/release.yaml
Due: none

Merge branch 'improvement/BB-578' into w/7.10/improvement/BB-578
  .github/workflows/tests.yaml
Due: none

Migrate federation build to ghcr
  .github/workflows/release-federation.yaml
  images/nodesvc-base/Dockerfile
Due: none

BB-644 bump package version
  package.json
Due: none

Make allSettled usage safer
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleTaskV2.js
Due: Lifecycle

reuse cloudserver dependency
  .github/actions/ft-test/action.yaml
  .github/scripts/run_ft_tests.bash
  package.json
  yarn.lock
Due: none

reuse cloudserver dependency
  .github/scripts/run_ft_tests.bash
Due: none

fixup tests
  tests/functional/lifecycle/LifecycleTask.js
Due: none

fixup listing
  tests/functional/lifecycle/LifecycleTask.js
Due: none

update deps
  package.json
  yarn.lock
Due: none

fixup on test
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: none

fixup on functional test
  tests/functional/lifecycle/LifecycleTask.js
Due: none

Update mongodb to use promises instead of callbacks
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  extensions/utils/LocationStatusStream.js
  lib/api/BackbeatAPI.js
  lib/util/LocationStatusManager.js
  tests/functional/ingestion/IngestionReader.js
Due: Bucket Notification, Core Library, Oplog Populator

bump mongo 6.11.0
  package.json
  yarn.lock
Due: none

Fix bad usage of sinon yields, using resolves instead
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  lib/util/LocationStatusManager.js
  tests/config.json
  tests/functional/notification/NotificationConfigManager.js
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/lib/util/LocationStatusManager.spec.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Bucket Notification, Core Library, Oplog Populator

Refactor LocationStatusManager tests to use resolves instead of yields for sinon stubs
  tests/unit/lib/util/LocationStatusManager.spec.js
Due: none

Fix lint warning
  extensions/replication/tasks/ReplicateObject.js
Due: Replication

Fixup test setup due to mongoClient circular struct
  tests/functional/ingestion/IngestionReader.js
Due: none

Fixup test and coverage improvement
  tests/unit/utils/LocationStatusStream.spec.js
Due: none

Enable debug logging into CI
  .github/actions/debug-wait/action.yaml
  .github/workflows/tests.yaml
Due: none

reenable all unit tests testing
  package.json
Due: none

fixups post reviews
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  lib/util/LocationStatusManager.js
  tests/functional/ingestion/IngestionReader.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
Due: Bucket Notification, Core Library, Oplog Populator

fixups post reviews
  .github/actions/debug-wait/action.yaml
  .github/workflows/tests.yaml
  extensions/notification/configManager/MongoConfigManager.js
  extensions/oplogPopulator/OplogPopulator.js
  extensions/utils/LocationStatusStream.js
  lib/api/BackbeatAPI.js
  tests/functional/ingestion/IngestionReader.js
  tests/unit/utils/LocationStatusStream.spec.js
Due: Bucket Notification, Core Library, Oplog Populator

BB-648 Lower lifecycle processor retries to avoid rebalancing
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
Due: Lifecycle

BB-649 Lifecycle should expire CRR REPLICA objects
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
Due: Lifecycle

BB-649 bump package version
  package.json
Due: none

Install oras in github workflows
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
Due: none

Remove dmf-specific location handling
  extensions/lifecycle/LifecycleQueuePopulator.js
Due: Lifecycle

Bump node 22
  package.json
  yarn.lock
Due: none

update docker files to use node 22
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
  Dockerfile
Due: none

Fixup on arsenal errors for replication ft tests
  lib/credentials/RoleCredentials.js
Due: Core Library

fixups on function tests post bump
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/replication/queueProcessor.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: none

post review fixup
  .github/workflows/tests.yaml
Due: none
