Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

port NotificationConfigManager from 7.x
  extensions/notification/configManager/ZookeeperConfigManager.js
  extensions/notification/constants.js
Due: Bucket Notification

fix config not getting removed from zookeeper when bucket is deleted
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

support notifications of S3C delete events
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/constants.js
  lib/queuePopulator/LogReader.js
Due: Bucket Notification, Core Library, Lifecycle

make metastore collection name configurable for bucket notifications
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/configManager/MongoConfigManager.js
  extensions/notification/constants.js
  extensions/notification/queueProcessor/QueueProcessor.js
  lib/queuePopulator/QueuePopulator.js
Due: Bucket Notification, Core Library

S3C supports having different queueProcessor probeserver configuration per site.
  extensions/replication/ReplicationConfigValidator.js
  lib/config/configItems.joi.js
Due: Core Library, Replication

Fix lint and export issue
  extensions/replication/ReplicationConfigValidator.js
  lib/config/configItems.joi.js
Due: Core Library, Replication

Refactor ReplicationConfigValidator.js to use a more generic Joi schema for probeServer
  extensions/replication/ReplicationConfigValidator.js
Due: Replication

add tests
  tests/config.notification.json
  tests/functional/notification/NotificationConfigManager.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/notification/NotificationConfigManager.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueueProcessor.js
  tests/unit/notification/QueueProcessor.spec.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
  tests/unit/notification/configManager/ZookeeperConfigManager.spec.js
  tests/unit/notification/utils/config.js
Due: none

Add getProbeConfig function to get the config for the specified site, and if no site specified, just use the global config
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/task.js
Due: Replication

Fix some lint issues
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/task.js
Due: Replication

Check that site names is not empty before use an element
  extensions/replication/queueProcessor/task.js
Due: Replication

Fix trailing space
  extensions/replication/queueProcessor/task.js
Due: Replication

condition start method on bucketprocessor
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
Due: Lifecycle

add unit test for start method on lbp
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
Due: none

condition the mongoClient setup based on config
  lib/api/BackbeatAPI.js
Due: Core Library

add unit tests
  tests/unit/api/BackbeatAPI.spec.js
Due: none

Remove useless config elements
  conf/config.json
  lib/Config.js
  lib/config.joi.js
Due: Core Library

BB-263 Blacklist lifecycle buckets and accounts
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

BB-263 optimization - conductor blacklist accounts on listing
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

blacklist lifecycle buckets and accounts when listing from mongodb
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

Add some verification, put the getProbeConfig out to be able to test it and make joi config have array minimal size of 1
  extensions/replication/queueProcessor/task.js
  lib/config/configItems.joi.js
Due: Core Library, Replication

test
  extensions/lifecycle/conductor/LifecycleConductor.js
Due: Lifecycle

rework getProbeConfig function to take all possibilites into account
  extensions/replication/queueProcessor/task.js
  lib/util/probe.js
  tests/unit/lib/util/probe.spec.js
Due: Core Library, Replication

try
  .github/workflows/tests.yaml
Due: none

Fix some lint issue and remove only
  tests/unit/lib/util/probe.spec.js
Due: none

Add missing unit test
  tests/unit/lib/util/probe.spec.js
Due: none

fixup! abstract NotificationConfigManager to support both MongoDB and Zookeeper
  extensions/notification/NotificationConfigManager.js
Due: Bucket Notification

fixup! support notifications of S3C delete events
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

fixup! abstract NotificationConfigManager to support both MongoDB and Zookeeper
  extensions/notification/configManager/MongoConfigManager.js
Due: Bucket Notification

fixup! add tests
  tests/unit/notification/NotificationConfigManager.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
Due: none

Shutdown when the logReader batch processing is stuck
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

fail healthcheck when batch processing gets stuck
  lib/constants.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

fixup! use 7.x bucket notification config structure
  tests/unit/notification/utils/config.js
Due: none

fixup! add tests
  tests/unit/notification/NotificationQueueProcessor.js
Due: none

fixup! fixup! add tests
  tests/unit/notification/NotificationQueueProcessor.js
Due: none

Remove GC producer from ObjectProcessor
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
Due: Lifecycle

Add test case for GC producer removal from ObjectProcessor
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
Due: none

Check if GC config exists before creating gc producer in replication
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/replicationStatusProcessor/task.js
  tests/functional/replication/queueProcessor.js
  tests/unit/replication/ReplicationStatusProcessor.js
Due: Replication

Conditionally create sts client if stsEndpoint is provided or not
  bin/ensureServiceUser
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
