Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

S3C-11127: drive the backoff test with fake timers
  tests/unit/notification/DeliveryWorkerInternal.spec.js
Due: none

S3C-11127: keep localhost unqualified on the CI runner, and mark the pool suites experimental
  .github/README-poc-ci.md
  .github/scripts/run_krb_rig.bash
  .github/workflows/tests.yaml
Due: none

S3C-11127: quote the empty qualify_shortname, and let the CI README pass the markdown lint
  .github/README-poc-ci.md
  .github/scripts/run_krb_rig.bash
Due: none

S3C-11127: give the workgroups suite's timing assertions bounds a CI runner meets
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: read both workgroups' lag inside the observation window
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: make the kerberos collision control deterministic
  tests/functional/deliverypool/kerberos.js
Due: none

S3C-11127: POC-specific-code: the recording playbook for today's topic, every number from an executed run
  .claude/skills/bnaas-run-scenario/SKILL.md
  poc-demo/.gitignore
  poc-demo/HANDOVER.md
  poc-demo/PLAYBOOK.md
Due: none

S3C-11127: a delivery worker seeds its own consumer group at start
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/deliveryWorker/SelfSeeder.js
  extensions/notification/deliveryWorker/WorkgroupConfigLoader.js
  extensions/notification/deliveryWorker/seededOffsets.js
  extensions/notification/deliveryWorker/task.js
  tests/functional/deliverypool/internalTopic.js
  tests/unit/notification/SelfSeeder.spec.js
Due: Bucket Notification

S3C-11127: POC-specific-code: acts 04 and 06 run as one container replacement
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/acts/06-workgroups.js
  tests/functional/demo/lib/conf.js
  tests/functional/demo/lib/flow.js
Due: none

S3C-11127: POC-specific-code: the operator procedure for one Ansible run
  poc-demo/HANDOVER.md
  poc-demo/OPERATOR.md
  poc-demo/PLAYBOOK.md
Due: none

S3C-11127: POC-specific-code: a watermark may be ahead of the table act 04 printed
  poc-demo/OPERATOR.md
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/acts/06-workgroups.js
Due: none

S3C-11127: POC-specific-code: sharpen the operator procedure
  poc-demo/OPERATOR.md
  poc-demo/README.md
Due: none

S3C-11127: POC-specific-code: the executed numbers for the self seeding run
  poc-demo/PLAYBOOK.md
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/acts/06-workgroups.js
Due: none

S3C-11127: POC-specific-code: one topic on the broker, and a way to keep it that way
  package.json
  poc-demo/.env
  poc-demo/OPERATOR.md
  poc-demo/PLAYBOOK.md
  poc-demo/README.md
  poc-demo/bin/clean-suite-topics.sh
  poc-demo/bin/lib.sh
  poc-demo/bin/offsets.sh
  poc-demo/bin/populator.sh
  poc-demo/bin/topics-create.sh
  poc-demo/bin/worker.sh
  tests/functional/demo/lib/setup.js
Due: none

S3C-11127: POC-specific-code: say in OPERATOR.md that demo:clean is rig hygiene
  poc-demo/OPERATOR.md
Due: none

S3C-11127: let the delivery pool suites block the workflow
  .github/README-poc-ci.md
  .github/workflows/tests.yaml
Due: none

S3C-11127: POC-specific-code: worker.sh status reads the suite's pidfile names
  poc-demo/bin/worker.sh
Due: none

S3C-11127: POC-specific-code: carry the Gateway to CTO draft and the product asks as raw material
  poc-demo/results/GW2CTO-BNaaS-draft4.md
  poc-demo/results/asks-from-product.md
Due: none

S3C-11127: POC-specific-code: install yarn for the node 22 that nvm just installed
  poc-demo/HANDOVER.md
  poc-demo/PLAYBOOK.md
Due: none

S3C-11127: POC-specific-code: heading levels in the carried Gateway to CTO draft
  poc-demo/results/GW2CTO-BNaaS-draft4.md
Due: none

S3C-11127: POC-specific-code: let the stack scripts point at the yarn commands
  poc-demo/bin/lib.sh
  poc-demo/bin/stack-status.sh
  poc-demo/bin/stack-up.sh
  poc-demo/bin/wait-ready.sh
Due: none

S3C-11127: POC-specific-code: act 01 describes the suites as they are now
  tests/functional/demo/acts/01-code-and-tests.js
Due: none

S3C-11127: POC-specific-code: stop every demo process on Ctrl+C, and a yarn demo:stop for leftovers
  package.json
  poc-demo/bin/stop-procs.sh
  tests/functional/demo/demo.js
  tests/functional/demo/lib/setup.js
Due: none

S3C-11127: POC-specific-code: act 07 streams the kerberos suite's output while it runs
  tests/functional/demo/acts/07-kerberos.js
Due: none

S3C-11127: POC-specific-code: the take includes the kerberos act
  poc-demo/PLAYBOOK.md
Due: none

S3C-11127: POC-specific-code: skip the node install when node 22 is already there
  poc-demo/PLAYBOOK.md
Due: none

S3C-11127: POC-specific-code: one Ctrl+C stops the run, a new run waits for a dying lock holder, and act 01 lints clean
  poc-demo/bin/stop-procs.sh
  tests/functional/demo/acts/01-code-and-tests.js
  tests/functional/demo/demo.js
  tests/functional/demo/lib/procs.js
  tests/functional/demo/lib/setup.js
Due: none

Skip the transition of objects still on the source location
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Do not garbage-collect the from-location when it is an isCRR location
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
Due: Lifecycle

Skip isCRR locations in the GC service
  extensions/gc/tasks/GarbageCollectorTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle

S3C-11127: POC-specific-code: bring the handover in line with the handover page
  poc-demo/HANDOVER.md
Due: none

S3C-11127: POC-specific-code: link the results directory from the handover
  poc-demo/HANDOVER.md
Due: none

copy location task reads the source data from a remote site
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Replication

S3C-11127: close a consumer that holds no partition
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
Due: Core Library

Keep only the targeted backend in the replica metadata
  lib/models/ObjectQueueEntry.js
  tests/unit/lib/models/ObjectQueueEntry.spec.js
Due: Core Library

Initiate the deferred restore once the archive completes
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Skip garbage collection of objects awaiting their first archive
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Preserve the pending restore request on archive completion
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
Due: Lifecycle

Bump package.json to 9.5.3
  package.json
Due: none

Build syntheticbucketd from its own context
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
  tests/utils/syntheticbucketd/Dockerfile
  tests/utils/syntheticbucketd/package.json
  tests/utils/syntheticbucketd/syntheticbucketd.js
  tests/utils/syntheticbucketd/yarn.lock
Due: none
