Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Upgrade supportedLifecycleRules definition
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  lib/Config.js
  lib/constants.js
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/lifecycle/LifecycleTaskV2-versioned.js
  tests/functional/lifecycle/LifecycleTaskV2.js
  tests/functional/lifecycle/configObjects.js
  tests/functional/queuePopulator/config/s3c-config.json
  tests/unit/lib/config/Config.spec.js
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
  tests/unit/lifecycle/LifecycleTask.spec.js
  tests/unit/lifecycle/rules.spec.js
Due: Core Library, Lifecycle

Fix zk cleanup when lifecycle config deleted
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Update bucketMD with arsenal 8.2
  tests/functional/utils/mockRes.json
Due: none

BB-690 bump bucketclient
  package.json
  yarn.lock
Due: none

BB-690 bump version
  package.json
Due: none

fix tests
  tests/unit/replication/ReplicateObject.spec.js
Due: none

get crr sts credentials from config
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/tasks/ReplicateObject.js
  tests/unit/replication/ReplicationConfigValidator.spec.js
Due: Replication

Fix filtering of supported rules
  extensions/lifecycle/util/rules.js
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
Due: Lifecycle

Release backbeat 9.0.10
  package.json
Due: none

Release backbeat 9.1.0-preview.1
  package.json
Due: none

use `{Key+}` in DeleteObjectFromExpiration URI to prevent signature mismatch
  lib/clients/backbeat-2017-07-01.api.json
Due: Core Library

bump version to 9.0.11
  package.json
Due: none

Test Mongo8
  .github/dockerfiles/mongodb/Dockerfile
Due: none

Adapt mongo dockerfile to v8
  .github/dockerfiles/mongodb/Dockerfile
Due: none

remove unit tests
  .github/workflows/tests.yaml
Due: none

Update mongodb docker logic to accept v8
  .github/dockerfiles/mongodb/Dockerfile
  .github/dockerfiles/mongodb/conf/mongo-run.sh
  .github/dockerfiles/mongodb/conf/mongod.conf
Due: none

Release backbeat 9.0.12
  package.json
Due: none

Fix dead-task when skip in notification processor
  extensions/notification/queueProcessor/QueueProcessor.js
  tests/unit/notification/QueueProcessor.spec.js
Due: Bucket Notification

Release backbeat 9.0.4.1
  package.json
Due: none

Fix error handling fallback in _processObjectEntry
  extensions/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
Due: Bucket Notification

Fix handling of disabled bucket notifications
  extensions/notification/configManager/MongoConfigManager.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
Due: Bucket Notification

fix notification cached buckets count
  extensions/notification/configManager/MongoConfigManager.js
Due: Bucket Notification

fix ft tests
  .github/dockerfiles/cloudserver/Dockerfile
Due: none

bump version to 9.0.4.2
  package.json
Due: none

release 9.0.13
  package.json
Due: none

impr(BB-694): Add schemas for kerberos and basic auth configs
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/destination/KafkaProducer.js
  extensions/notification/index.js
  tests/unit/notification/KafkaNotificationDestination.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification

Bump CI cloudserver tag to 9.0.19
  .github/dockerfiles/cloudserver/Dockerfile
  .github/dockerfiles/ft/docker-compose.yaml
  .github/workflows/tests.yaml
Due: none

impr(BB-695): Update kafka client config generation to support basic auth
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/constants.js
  extensions/notification/utils/auth.js
  tests/unit/notification/utils/auth.js
Due: Bucket Notification

Bump version
  package.json
Due: none

bump arsenal to 8.1.163
  package.json
  yarn.lock
Due: none

bump version to 8.6.56
  package.json
Due: none

bump arsenal to 8.2.26
  package.json
  yarn.lock
Due: none

bump version to 9.0.15
  package.json
Due: none

release version 9.1.0 preview 2
  package.json
Due: none

wip
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  lib/queuePopulator/IngestionPopulator.js
  lib/util/LocationStatusManager.js
Due: Core Library, Ingestion, Replication

bump version to 9.0.16
  package.json
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
