Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Record scan pickup metrics in the lifecycle bucket processor.
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
Due: Lifecycle

Add conductor scan lifecycle alerts.
  .github/workflows/alerts.yaml
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Add conductor scan panels to the lifecycle dashboard.
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add lifecycle archive info permission.
  extensions/lifecycle/bucketProcessor/policy.json
  tests/unit/lifecycle/LifecycleBucketProcessorPolicy.spec.js
Due: Lifecycle

Use archive info for lifecycle expiration metrics.
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Bump package.json to 9.5.0-preview.2
  package.json
Due: none

Take the expiration metric location from the action entry.
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/lifecycle/LifecycleUpdateExpirationTask.spec.js
Due: Lifecycle

feat(lifecycle): skip index creation on large collections and mass-expiration rules
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/util/mongoRules.js
  lib/Config.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
  tests/unit/lifecycle/mongoRules.spec.js
Due: Core Library, Lifecycle

Bump package.json to 9.5.0-preview.3
  package.json
Due: none

Bump arsenal to 8.5.6
  package.json
  yarn.lock
Due: none

Bump package.json to 9.5.0-preview.4
  package.json
Due: none

Fix ingestion test LifecycleConfiguration call for arsenal 8.5.6
  tests/functional/ingestion/MongoQueueProcessor.js
Due: none

Add Crr Cascade capabilities to backbeat crr replication
  extensions/replication/tasks/ReplicateObject.js
  package.json
  tests/unit/replication/ReplicateObject.spec.js
  yarn.lock
Due: Replication

bump to 9.5.0-preview.5
  package.json
Due: none

improvement: commit + log + metric on task failure in GC and lifecycle cold-archive
  extensions/gc/GarbageCollectorMetrics.js
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
Due: Lifecycle

Downgrade node-rdkafka to 3.0.1
  package.json
  yarn.lock
Due: none

Bump package.json to 9.4.1
  package.json
Due: none

Bump package.json to 9.5.0-preview.6
  package.json
Due: none

handle orphans on processQueueEntryRetryFull
  extensions/replication/tasks/ReplicateObject.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Replication

Bump package.json to 9.5.0-preview.7
  package.json
Due: none

Use literal seconds for lifecycle alert threshold defaults
  monitoring/lifecycle/alerts.yaml
Due: none

Add async/await migration guidance for Claude and code reviews
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

Guard LogConsumer against offsetsStore failures during rebalance
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
Due: Core Library

gatekeep expect continue 100 header on 128kb object size
  extensions/replication/tasks/ReplicateObject.js
  lib/constants.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Core Library, Replication

BB-828 Restore Kerberos GSSAPI support in the image
  .github/scripts/check_image_kerberos_support.sh
  .github/workflows/docker-build.yaml
  Dockerfile
Due: none

BB-828: bump package.json to 9.0.30
  package.json
Due: none

BB-830: add tests for resilient notification config persistence
  tests/unit/notification/configManager/ZookeeperConfigManager.spec.js
Due: none

BB-830: persist notification config resiliently to zookeeper
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

Fix the queue populator LogConsumer drain deadlock on rebalance
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  tests/functional/lib/queuePopulator/LogConsumer.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
Due: Core Library

BB-828: Bump package.json from 9.3.5 to 9.3.6
  package.json
Due: none

Consume the replication status topic from the earliest offset
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/replication/ReplicationStatusProcessor.js
Due: Replication

Bump package.json to 9.4.2
  package.json
Due: none

Bump package.json to 9.5.0-preview.8
  package.json
Due: none

BB-830: bump version to 9.3.7
  package.json
Due: none

Retry stale service-credential failures on the source metadata routes
  lib/BackbeatMetadataProxy.js
  lib/util/staleCredentialError.js
  tests/unit/lib/BackbeatMetadataProxy.spec.js
Due: Core Library

Stop dropping a stale-credential 403 in the multiple-backend path
  extensions/replication/tasks/MultipleBackendTask.js
  tests/unit/replication/MultipleBackendTask.js
Due: Replication

WIP: consume from the earliest offset in the remaining consumers
  extensions/gc/GarbageCollector.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/notification/queueProcessor/QueueProcessor.js
Due: Bucket Notification, Lifecycle

configurable ingestion batch size
  bin/ingestion.js
  extensions/ingestion/IngestionConfigValidator.js
  tests/unit/ingestion/IngestionConfigValidator.spec.js
Due: Ingestion

Consume from the earliest offset where a lost message is unrecoverable
  extensions/gc/GarbageCollector.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  tests/unit/gc/GarbageCollector.spec.js
  tests/unit/lifecycle/LifecycleObjectExpirationProcessor.spec.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
Due: Lifecycle

Bump package.json to 9.5.0-preview.9
  package.json
Due: none
