Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

renable taskscheduler logic
  lib/tasks/TaskScheduler.js
Due: Core Library

more logs
  extensions/replication/tasks/CopyLocationTask.js
Due: Replication

disable replication processor
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

fixup! disable replication processor
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

Timeout setup in data moved s3 client
  extensions/replication/tasks/CopyLocationTask.js
Due: Replication

skip already transitioned objects in data-mover
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Replication

bump version to 8.6.44
  package.json
Due: none

reset transition-in-progress flag in the MD after a failed transition
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
Due: Lifecycle

bump version to 8.6.45
  package.json
Due: none

update GarbageCollectorTask for retry on deleteArchivedSourceData and executeDeleteData
  extensions/gc/tasks/GarbageCollectorTask.js
Due: Lifecycle

retry change to get arguments not jsut errors
  lib/tasks/BackbeatTask.js
Due: Core Library

tests added for retry
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/mocks.js
Due: none

existing tests updated due to change in mock processor
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
  tests/unit/lifecycle/LifecycleRetriggerRestoreTask.spec.js
  tests/unit/lifecycle/LifecycleUpdateExpirationTask.spec.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
Due: none

Bump project version and increase timeout on unit tests
  package.json
Due: none

BB-598 Validate Kafka messages against all bucket notification rules
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/notification/utils/config.js
  tests/unit/notification/QueueProcessor.spec.js
  tests/unit/notification/utils/config.js
Due: Bucket Notification

BB-598 add tests
  tests/unit/notification/NotificationQueuePopulator.js
Due: none

BB-598 bump package version
  package.json
Due: none

BB-466 Dealing with expired zookeeper sessions
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/notification/queueProcessor/QueueProcessor.js
  lib/KafkaBacklogMetrics.js
  lib/api/BackbeatAPI.js
  lib/api/Healthcheck.js
  lib/clients/ZookeeperManager.js
  lib/provisioning/ProvisionDispatcher.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/QueuePopulatorExtension.js
  tests/functional/lib/ZookeeperManager.js
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/functional/notification/NotificationConfigManager.js
  tests/functional/utils/mockZookeeperClient.js
  tests/unit/ProvisionDispatcher.spec.js
  tests/unit/clients/ZookeeperManager.js
Due: Bucket Notification, Core Library, Lifecycle

BB-599 package version bump
  package.json
Due: none

Add metric for timestamp of last lifecycle operation completed
  extensions/lifecycle/LifecycleMetrics.js
Due: Lifecycle

Bump backbeat 8.6.47
  package.json
Due: none

use proper method to set value of meteric
  extensions/lifecycle/LifecycleMetrics.js
Due: Lifecycle

bump version to 8.6.48
  package.json
Due: none

BB-598 bump package version to 7.70.12-2
  package.json
Due: none

BB-490: bump mongodb to v6.0 in CI
  .github/dockerfiles/mongodb/Dockerfile
Due: none

BB-490: bump mongodb to v6.0 in CI
  .github/dockerfiles/mongodb/conf/mongo-run.sh
Due: none

try
  extensions/oplogPopulator/constants.js
Due: Oplog Populator

remove duplicated circuit breaker stop on close method
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

Remove log source override
  lib/Config.js
  package.json
Due: Core Library

add missing Kafka log source in error
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

Add alert if the number of connector exceeds the soft limit
  .github/workflows/alerts.yaml
  monitoring/oplog-populator/alerts.rendered.yaml
  monitoring/oplog-populator/alerts.test.yaml
  monitoring/oplog-populator/alerts.yaml
Due: none

first implementation for changestream for each bucket
  extensions/oplogPopulator/OplogPopulator.js
Due: Oplog Populator

Add alert if the number of connector exceeds the soft limit
  .github/workflows/alerts.yaml
  monitoring/oplog-populator/alerts.test.yaml
  monitoring/oplog-populator/alerts.yaml
Due: none

Update ConnectorsManager
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

Update gitignore to include the codecov output
  .gitignore
Due: none

Update oplog populator to detect max bucket per connector
  extensions/oplogPopulator/OplogPopulator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
