Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

BB-630: bump version to 8.6.52
  package.json
Due: none

Upgrade node dependencies and node to 22
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/scripts/run_ft_tests.bash
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  Dockerfile
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

Remove deprecated arg in ginkgo
  .github/workflows/tests.yaml
Due: none

Upgrade go version and dependencies
  bucket-scanner/go.mod
Due: Bucket Scanner

Fix markdown lint issue due to upgrade
  README.md
  docs/lifecycle.md
Due: none

Fix cloudserver dependency as optional
  .github/scripts/run_ft_tests.bash
  package.json
Due: none

Use uuid v4 with named import
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  lib/models/ActionQueueEntry.js
Due: Core Library, Lifecycle, Replication

Add cloudserver image input to action and update test script to use docker-compose
  .github/actions/ft-test/action.yaml
  .github/dockerfiles/cloudserver/docker-compose.yml
  .github/scripts/run_ft_tests.bash
  package.json
Due: none

Use latest version of cloudserver
  package.json
  yarn.lock
Due: none

Run on ubuntu 22.04
  .github/workflows/tests.yaml
Due: none

Fix error due to connectors not set
  extensions/oplogPopulator/OplogPopulatorMetrics.js
Due: Oplog Populator

Remove exclusive focus from provision dispatcher test suite
  tests/unit/ProvisionDispatcher.spec.js
Due: none

Named import for crypto functions
  lib/Config.js
  lib/provisioning/ProvisionDispatcher.js
  tests/functional/replication/queueProcessor.js
  tests/unit/ProvisionDispatcher.spec.js
Due: Core Library

Fix async drain function not writable anymore
  lib/tasks/TaskScheduler.js
  tests/unit/lib/tasks/TaskScheduler.spec.js
Due: Core Library

Remove exclusive focus from TaskScheduler test suite
  tests/unit/lib/tasks/TaskScheduler.spec.js
Due: none

Increase wait time for local port readiness in server tests
  .github/scripts/run_server_tests.bash
Due: none

Bump bkclt latest version
  package.json
  yarn.lock
Due: none

Fix missusage of async until and whilst
  extensions/lifecycle/conductor/LifecycleConductor.js
  lib/api/BackbeatAPI.js
  tests/functional/ingestion/pauseResumeState.js
  tests/functional/replication/pauseResumeState.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Core Library, Lifecycle

redirect stderr for debug
  .github/scripts/run_server_tests.bash
Due: none

remove --silent
  .github/scripts/run_server_tests.bash
Due: none

Add --exit for running mocha tests
  package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

Debump mongodb to 3.1.13
  .github/scripts/run_server_tests.bash
  package.json
  yarn.lock
Due: none

Use latest hash for arsenal
  package.json
  yarn.lock
Due: none

bucketclient bump hash
  package.json
Due: none

Update arsenal and bucketclient dependencies in yarn.lock
  yarn.lock
Due: none

Fix dowhilst missusage
  lib/queuePopulator/QueuePopulator.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Core Library

Refactor code for readability and remove unnecessary eslint-disable comments
  lib/queuePopulator/QueuePopulator.js
  tests/unit/lib/config/Config.spec.js
  tests/unit/utils/VaultClientWrapper.spec.js
Due: Core Library

Update test cases to reflect version changes for bucketd and zookeeper sources
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: none

--exit for every mocha calls
  package.json
Due: none

Update run_ft_tests.bash to use 'docker-compose up' and remove cloudserver directory check
  .github/scripts/run_ft_tests.bash
Due: none

Update run_ft_tests.bash to use 'docker compose' command
  .github/scripts/run_ft_tests.bash
Due: none

Update run_ft_tests.bash to use 'docker run' for cloudserver image
  .github/scripts/run_ft_tests.bash
Due: none

Update run_ft_tests.bash to map port correctly for cloudserver image
  .github/scripts/run_ft_tests.bash
Due: none

Remove cloudserver dockerfile as it is not needed
  .github/dockerfiles/cloudserver/docker-compose.yml
  .github/workflows/tests.yaml
Due: none

node-rdkafka 2.12
  package.json
  yarn.lock
Due: none

Issue: {Jira_ticket}
  yarn.lock
Due: none

use old version of cloudserver
  .github/actions/ft-test/action.yaml
Due: none
