Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Add lifecycle overview panels
  monitoring/__init__.py
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Code cleanup
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add workflow latency/duration to lifecycle dashboard
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

improvement: add processor concurrency
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

chore: bump version
  package.json
Due: none

Rework s3 operations stats
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add kafka task/consumer metrics
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add location selector
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Tweak the job name
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add circuit breaker state history
  monitoring/__init__.py
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add job/service selector
  monitoring/__init__.py
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: none

Add conductor monitoring
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: Lifecycle

Add circuit breaker panel for replay processor
  monitoring/replication/dashboard.json
  monitoring/replication/dashboard.py
Due: none

Fix lifecycle metrics for transition
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  extensions/replication/ReplicationAPI.js
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/ReplicationAPI.spec.js
Due: Lifecycle, Replication

Rename consumergroup label to group
  lib/KafkaBacklogMetrics.js
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: Core Library

Do not collapse panels by default
  monitoring/replication/dashboard.json
  monitoring/replication/dashboard.py
Due: none

Add lifecycle type rule to gc duration
  extensions/gc/GarbageCollectorMetrics.js
  extensions/gc/tasks/GarbageCollectorTask.js
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: Lifecycle

Rename s3_zenko_* metrics to s3_backbeat_*
  lib/constants.js
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: Core Library

gc: fix origin label value
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/replication/tasks/UpdateReplicationStatus.js
Due: Lifecycle, Replication

restart failed connectors in the oplog populator
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

remove useless logs from the oplog populator
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

fix log
  extensions/oplogPopulator/modules/Allocator.js
Due: Oplog Populator

alert when connectors keep getting restarted
  monitoring/oplog-populator/alerts.test.yaml
  monitoring/oplog-populator/alerts.yaml
Due: none

Pause consumer when breakbeat is triggered
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

bump version to 8.6.36
  package.json
Due: none

Do not mark transition in progress if already done
  extensions/lifecycle/tasks/LifecycleTask.js
Due: Lifecycle

Add accountID to GC message
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
Due: Lifecycle

Fix error when bucket not existing
  extensions/gc/tasks/GarbageCollectorTask.js
Due: Lifecycle

Add test for non existing bucket
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: none

Adding owner id to garbage collector message
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
Due: Lifecycle

Add test for setting transition-in-progress
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/functional/lifecycle/LifecycleTask.js
Due: Lifecycle

Change owner to ownerId
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle

Extract owner instead of ownerId
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle, Replication

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
