Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Ignore a deferred un-assign superseded by a later rebalance
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Re-enable the rebalance-sensitive consumer tests on 9.6
  tests/functional/lib/BackbeatConsumer.js
Due: none

Retry the setup of an ingestion reader when it fails
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Alert when an ingestion source cannot be set up
  monitoring/ingestion/ingestion-producer-alert.yaml
Due: none

Test the ingestion producer alerts
  .github/workflows/alerts.yaml
  monitoring/ingestion/ingestion-producer-alert.test.yaml
Due: none

Name the critical source error rate alert after its threshold
  monitoring/ingestion/ingestion-producer-alert.yaml
Due: none

Use a distinct task scheduler for data mover actions
  extensions/replication/queueProcessor/QueueProcessor.js
  tests/unit/replication/QueueProcessor.spec.js
Due: Replication

Include the bucket and the eTag in the action dedupe key
  extensions/replication/queueProcessor/taskSchedulerHelpers.js
  tests/unit/replication/taskSchedulerHelpers.spec.js
Due: Replication

Log the tasks skipped by deduplication
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  lib/tasks/TaskScheduler.js
  tests/unit/lib/tasks/TaskScheduler.spec.js
Due: Core Library, Replication

bump cloudserverclient to 1.0.12 to fix put data
  package.json
  yarn.lock
Due: none

fix functional tests following cloudserverclient bump
  tests/functional/replication/streamedCopy.spec.js
Due: none

Release backbeat 9.5.1
  package.json
Due: none

BB-786: trigger cold transition from oplog
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

BB-786: bump package.json to 9.0.31
  package.json
Due: none

Trigger localization of clean room objects
  conf/locationConfig.json
  docker-entrypoint.sh
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/ReplicationQueuePopulator.js
  lib/Config.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
  tests/unit/mocks.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Core Library, Lifecycle, Replication

Fail account id resolution on a cached vault miss
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
Due: Lifecycle

Skip non-localized entries in replication and lifecycle
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/replication/ReplicationQueuePopulator.js
  tests/unit/lifecycle/LifecycleTask.spec.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Lifecycle, Replication

Restore the original clean room comment
  extensions/replication/ReplicationQueuePopulator.js
Due: Replication

Do not garbage-collect the from-location when it is an isCRR location
  conf/locationConfig.json
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  lib/util/locations.js
  tests/unit/lib/util/locations.spec.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
Due: Core Library, Lifecycle

Skip isCRR location parts in the GC service
  extensions/gc/tasks/GarbageCollectorTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle

Reclaim local data when a localized version is deleted
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/mongoProcessor/mongoProcessorTask.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
Due: Ingestion

Unregister an ingestion source as soon as it is removed
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Consume the ingestion topic from the earliest offset
  extensions/mongoProcessor/MongoQueueProcessor.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
Due: Ingestion

Extract the consumer rdkafka config into getters
  lib/BackbeatConsumer.js
Due: Core Library

Simplify the isCRR check to a single location test
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  lib/util/locations.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lib/util/locations.spec.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
Due: Core Library, Lifecycle

Pin the auto-commit that flushes the offsets we store
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Accept arbitrary rdkafka params on the Kafka consumer
  lib/BackbeatConsumer.js
  lib/config.joi.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Forward the configured params from every Kafka consumer
  extensions/gc/GarbageCollector.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/failedCRR/FailedCRRConsumer.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/MetricsConsumer.js
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  lib/queuePopulator/KafkaLogReader.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
Due: Bucket Notification, Core Library, Ingestion, Lifecycle, Replication

Let the consumer's internal producers take rdkafka params
  lib/BackbeatConsumer.js
Due: Core Library

Leave the consumer group explicitly on shutdown
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Synchronise the assignment on an arbitrary rebalance error
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Stop consuming once the shutdown has started
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Answer every caller when close() is called more than once
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

Throwaway: BB-833 shutdown census
  .github/harness/shutdown-census-worker.js
  .github/harness/shutdown-census.js
  .github/workflows/alerts.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/shutdown-census.yaml
  .github/workflows/tests.yaml
Due: none

Census: require real work before terminating, and keep the pod logs
  .github/harness/shutdown-census.js
  .github/workflows/shutdown-census.yaml
Due: none

Census: point the fixed arm at 7c660cd0 (grant declined during shutdown)
  .github/workflows/shutdown-census.yaml
Due: none

Upgrade node-rdkafka to 3.6.1
  package.json
  yarn.lock
Due: none

Bump package.json to 9.5.2
  package.json
Due: none

Census: add a BB-843-patched arm and a librdkafka 2.12 control
  .github/harness/bb843-joingroup-member-id.patch
  .github/workflows/shutdown-census.yaml
Due: none

Memorize envVarMappings per schema
  lib/config/envOverrides.js
Due: Core Library

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
