Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

fixup post reviews
  lib/api/BackbeatAPI.js
  tests/unit/api/BackbeatAPI.spec.js
Due: Core Library

Expiring non-versioned objects fails
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  lib/BackbeatMetadataProxy.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/mocks.js
Due: Core Library, Lifecycle

allow consuming log records without wait when more logs are available
  lib/config.joi.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

Change default port and add error log for getProbeConfig
  extensions/replication/ReplicationConfigValidator.js
  lib/util/probe.js
Due: Core Library, Replication

dataMoverTopic not required anymore and defaults to empty string Do not create a consumer if no topic provided
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

Validate dataMoverTopic based on supportedLifecycleRules
  extensions/replication/ReplicationConfigValidator.js
Due: Replication

Refactor GC configuration handling in ReplicationStatusProcessor
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/replicationStatusProcessor/task.js
Due: Replication

Better logger
  lib/util/probe.js
Due: Core Library

Update tests to add proper gc config object
  tests/functional/replication/queueProcessor.js
Due: none

fixup post reviews
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  lib/config/configItems.joi.js
Due: Core Library, Lifecycle

Update tests/functional/replication/queueProcessor.js
  tests/functional/replication/queueProcessor.js
Due: none

Remove useless false config
  tests/unit/replication/ReplicationStatusProcessor.js
Due: none

only crash on S3C
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

Check large objects before replication
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/tasks/ReplicateObject.js
Due: Replication

Support role auth for crr retry
  extensions/replication/tasks/UpdateReplicationStatus.js
  extensions/replication/utils/ObjectFailureEntry.js
  lib/api/BackbeatAPI.js
  lib/api/BackbeatRequest.js
  lib/util/sortedSetHelper.js
  tests/functional/replication/queueProcessor.js
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/api/BackbeatRequest.spec.js
  tests/unit/replication/ObjectFailureEntry.spec.js
  tests/unit/replication/UpdateReplicationStatus.js
  tests/unit/sortedSetHelper.js
  tests/utils/fakeLogger.js
Due: Core Library, Replication

Update tests/unit/mocks.js
  tests/unit/mocks.js
Due: none

Add wildcard constant as a way to detect unique pipelines
  extensions/oplogPopulator/constants.js
Due: Oplog Populator

Bind the event in the strategy decorator
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: Oplog Populator

Create the UniqueConnector allocation strategy
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/allocationStrategy/UniqueConnector.js
Due: Oplog Populator

path handle
  lib/api/BackbeatAPI.js
Due: Core Library

Add functionnal test
  tests/functional/replication/queueProcessor.js
Due: none

Use x-amz-meta-scal-version-id when ingesting object
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

test
  tests/unit/api/BackbeatAPI.spec.js
Due: none

test
  lib/api/BackbeatAPI.js
  tests/unit/api/BackbeatAPI.spec.js
Due: Core Library

Update existing tests
  tests/unit/oplogPopulator/Allocator.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/ImmutableConnector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: none

Delete porevious connectors not matching the strategy
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

Use the UniqueConnector when the number of connector in conf is 0
  extensions/oplogPopulator/OplogPopulator.js
Due: Oplog Populator

Introduce pipeline factories
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  extensions/oplogPopulator/allocationStrategy/UniqueConnector.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

Rename getOldConnectors to processOldConnectors
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

Check for the object not found error properly
  tests/functional/replication/queueProcessor.js
Due: none

fixup
  lib/api/BackbeatAPI.js
  tests/unit/api/BackbeatAPI.spec.js
Due: Core Library

fixup
  tests/unit/api/BackbeatAPI.spec.js
Due: none

Use the UniqueConnector when the number of connector in conf is 0
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: Oplog Populator

Update unit tests
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/AllocationStrategy.js
  tests/unit/oplogPopulator/allocationStrategy/UniqueConnector.js
  tests/unit/oplogPopulator/oplogPopulator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/PipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: none
