Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

port NotificationConfigManager from 7.x
  extensions/notification/configManager/BaseConfigManager.js
  extensions/notification/configManager/ZookeeperConfigManager.js
  extensions/notification/constants.js
Due: Bucket Notification

abstract NotificationConfigManager to support both MongoDB and Zookeeper
  extensions/notification/NotificationConfigManager.js
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/configManager/MongoConfigManager.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/notification/queueProcessor/task.js
  lib/queuePopulator/QueuePopulator.js
Due: Bucket Notification, Core Library

use 7.x bucket notification config structure
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/notification/utils/config.js
  tests/unit/notification/utils/config.js
Due: Bucket Notification

support notifications of S3C delete events
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/constants.js
  lib/queuePopulator/KafkaLogConsumer/ListRecordStream.js
  lib/queuePopulator/LogReader.js
Due: Bucket Notification, Core Library

add/delete notification config when using zookeeper backend
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

fix config not getting removed from zookeeper when bucket is deleted
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

make metastore collection name configurable for bucket notifications
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/configManager/MongoConfigManager.js
  extensions/notification/constants.js
Due: Bucket Notification

concurrently update local bucket notification configs from zookeeper
  extensions/notification/NotificationConfigManager.js
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/configManager/ZookeeperConfigManager.js
  extensions/notification/constants.js
  extensions/notification/queueProcessor/QueueProcessor.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/notification/NotificationConfigManager.js
  tests/unit/notification/configManager/ZookeeperConfigManager.spec.js
Due: Bucket Notification, Core Library

add more logs in the zookeeper config manager
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

retry zookeeper operations on transient network issues
  bin/ingestion.js
  extensions/notification/configManager/ZookeeperConfigManager.js
  extensions/replication/queueProcessor/task.js
  lib/api/BackbeatAPI.js
  lib/config.joi.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/QueuePopulatorExtension.js
Due: Bucket Notification, Core Library, Replication

make max cached notification configs a config prameter
  extensions/notification/NotificationConfigManager.js
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/configManager/MongoConfigManager.js
  extensions/notification/queueProcessor/QueueProcessor.js
  lib/queuePopulator/QueuePopulator.js
  tests/functional/notification/NotificationConfigManager.js
  tests/unit/notification/NotificationConfigManager.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
Due: Bucket Notification, Core Library

limit the number of event handlers on notification zookeeper events
  extensions/notification/configManager/ZookeeperConfigManager.js
Due: Bucket Notification

add tests
  tests/config.notification.json
  tests/functional/notification/NotificationConfigManager.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/ListRecordStream.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/notification/NotificationConfigManager.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueueProcessor.js
  tests/unit/notification/QueueProcessor.spec.js
  tests/unit/notification/configManager/MongoConfigManager.spec.js
  tests/unit/notification/configManager/ZookeeperConfigManager.spec.js
  tests/unit/notification/utils/config.js
Due: none

Throw when getConfig fails
  extensions/notification/configManager/MongoConfigManager.js
Due: Bucket Notification

only parse bucket entries once
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

DEBUG: logs logs logs
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/replication/queueProcessor.js
Due: Core Library, Replication

allow passing compressionType and requiredAcks for Kafka notification destinations
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/destination/KafkaNotificationDestination.js
  extensions/notification/destination/KafkaProducer.js
  tests/unit/notification/KafkaNotificationDestination.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification

set default value for replicationGroupId
  lib/config.joi.js
Due: Core Library

revert kafka consumer lag PR
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/BackbeatConsumer.js
  lib/constants.js
  tests/functional/lib/BackbeatConsumer.js
Due: Bucket Notification, Core Library, Replication

properly pass compressionType and requiredAcks to BackbeatProducer
  extensions/gc/GarbageCollector.js
  extensions/gc/GarbageCollectorProducer.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/failedCRR/FailedCRRConsumer.js
  extensions/replication/failedCRR/FailedCRRProducer.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replay/ReplayProducer.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/BackbeatConsumer.js
  lib/MetricsConsumer.js
  lib/MetricsProducer.js
  lib/api/BackbeatAPI.js
  lib/config.joi.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/LogReader.js
Due: Bucket Notification, Core Library, Ingestion, Lifecycle, Replication

allow empty probe config when no replication endpoint defined
  lib/config/configItems.joi.js
  lib/util/probe.js
Due: Core Library

make s3 config optional
  lib/config.joi.js
Due: Core Library

fix backbeatAPI always expecting ingestion config
  lib/api/BackbeatAPI.js
Due: Core Library

Bump mongo driver 6.1
  package.json
  yarn.lock
Due: none

Update Node.js version to 18 and optimize checkout steps in CI workflow
  .github/workflows/tests.yaml
Due: none

Update CI workflow to use Ubuntu 22.04 with 2 cores for build jobs
  .github/workflows/tests.yaml
Due: none

Update Node.js version to 18 in Dockerfile and remove duplicate checkout step in CI workflow
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
Due: none

Update Node.js version to 20 in Dockerfile
  .github/dockerfiles/syntheticbucketd/Dockerfile
Due: none

Fix mongodb using callback instead of promises
  extensions/notification/NotificationConfigManager.js
  extensions/utils/LocationStatusStream.js
  lib/api/BackbeatAPI.js
  lib/util/LocationStatusManager.js
  tests/functional/ingestion/IngestionReader.js
Due: Bucket Notification, Core Library

Remove unnecessary console.log statements from replication and consumer classes
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/replication/queueProcessor.js
Due: Core Library, Replication

Add missing closing brace in NotificationConfigManager class
  extensions/notification/NotificationConfigManager.js
Due: Bucket Notification

Refactor NotificationConfigManager to use MongoDB change streams for cache invalidation and improve configuration retrieval with caching mechanism
  extensions/notification/NotificationConfigManager.js
  extensions/utils/LocationStatusStream.js
  lib/api/BackbeatAPI.js
  lib/util/LocationStatusManager.js
  tests/functional/ingestion/IngestionReader.js
Due: Bucket Notification, Core Library

Refactor NotificationConfigManager to support multiple backend configurations using MongoDB and Zookeeper
  extensions/notification/NotificationConfigManager.js
Due: Bucket Notification

Refactor MongoConfigManager to use Promises for MongoDB connection handling and improve error logging
  extensions/notification/configManager/MongoConfigManager.js
Due: Bucket Notification

build federation dev image
  .github/workflows/docker-build.yaml
Due: none

merge S3C and Artesca release workflows
  .github/workflows/release-federation.yaml
  .github/workflows/release.yaml
Due: none

Bump node 22
  .github/dockerfiles/syntheticbucketd/Dockerfile
  .github/workflows/tests.yaml
  package.json
  yarn.lock
Due: none

Use cloudserver image instead of dependency
  .github/actions/ft-test/action.yaml
  .github/scripts/run_ft_tests.bash
Due: none

Update Dockerfile to use node 22
  .github/workflows/tests.yaml
  Dockerfile
Due: none

Bump mongodb driver to latest version 6.10
  package.json
  yarn.lock
Due: none
