Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Change owner to ownerId
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle

BB-490: bump mongodb to v6.0 in CI
  .github/dockerfiles/mongodb/Dockerfile
Due: none

BB-490: bump mongodb to v6.0 in CI
  .github/dockerfiles/mongodb/conf/mongo-run.sh
Due: none

fix double notifications when having multiple destinations using the shared internal topic
  extensions/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
Due: Bucket Notification

support templated circuit breaker config for the bucket processor
  extensions/lifecycle/CircuitBreakerGroup.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
Due: Lifecycle

add bucket processor circuit breaker templating tests
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/lifecycle/LifecycleTaskV2-versioned.js
  tests/functional/lifecycle/LifecycleTaskV2.js
  tests/unit/replication/ReplicationAPI.spec.js
Due: none

support circuit breaking the bucket processor per topic/location/workflow
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/replication/ReplicationAPI.js
Due: Lifecycle, Replication

bump version to 8.6.37
  package.json
Due: none

make the accountId field optional for cold delete status messages
  lib/models/ColdStorageStatusQueueEntry.js
Due: Core Library

include accountId in cold delete kafka messages
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

bump version 8.6.38
  package.json
Due: none

Migrate to ghcr
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

[DEBUG] set broker address ttl to high value
  lib/BackbeatConsumer.js
Due: Core Library

[DEBUG] enable rdkafka consumer logs
  lib/BackbeatConsumer.js
Due: Core Library

simplify handling of replication failure notification
  extensions/notification/constants.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/replicationStatusProcessor/task.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  lib/models/ObjectQueueEntry.js
  tests/unit/replication/UpdateReplicationStatus.js
Due: Bucket Notification, Core Library, Replication

filter out non supported notification
  extensions/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
Due: Bucket Notification

bump version to 8.6.39
  package.json
Due: none

[DEBUG] add stuck tasks
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
Due: Lifecycle

[DEBUG] log offset ledger
  lib/BackbeatConsumer.js
Due: Core Library

[DEBUG] log available slots when consuming
  lib/BackbeatConsumer.js
Due: Core Library

bucket processor circuit breaker: replace all instances of template
  extensions/lifecycle/CircuitBreakerGroup.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
Due: Lifecycle

oplog populator should not listen to buckets with bucket notification disabled
  extensions/notification/NotificationOplogPopulatorUtils.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Bucket Notification

bucket processor: avoid listing buckets when no lifecycle rules enabled
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/util/rules.js
  tests/functional/lifecycle/LifecycleTask.js
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

bump version to 8.6.40
  package.json
Due: none

[DEBUG] log
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
Due: Lifecycle

bump version 8.6.41
  package.json
Due: none

fix lifecycle rule names
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/util/rules.js
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
Due: Lifecycle

Upgrade actions
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Add registry migration workflow
  .github/workflows/migrate.yaml
Due: none

Do not build dashboards in 7.x
  .github/workflows/release.yaml
Due: none

Migrate federation build to ghcr
  .github/workflows/release-federation.yaml
  images/nodesvc-base/Dockerfile
Due: none

Migrate to ghcr
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
  docs/RELEASE.md
Due: none

Upgrade actions
  .github/workflows/alerts.yaml
  .github/workflows/docker-build.yaml
Due: none

Upgrade actions
  .github/actions/ft-test/action.yaml
  .github/workflows/tests.yaml
Due: none

Properly finish waterfall
  extensions/lifecycle/conductor/LifecycleConductor.js
Due: Lifecycle

Add test for callback handling in lifecycle conductor
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: none

Test normal behavior
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: none

Rework test to be more readable
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
