Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Delete porevious connectors not matching the strategy
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

Introduce pipeline factories
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  extensions/oplogPopulator/allocationStrategy/UniqueConnector.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

Update existing tests
  tests/unit/oplogPopulator/Allocator.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/ImmutableConnector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: none

ZookeeperUrl path handling for both S3C and Artesca
  lib/api/BackbeatAPI.js
Due: Core Library

Add unit test coverage for _setZookeeper
  tests/unit/api/BackbeatAPI.spec.js
Due: none

condition the mongoClient setup based on config
  lib/api/BackbeatAPI.js
Due: Core Library

add unit tests
  tests/unit/api/BackbeatAPI.spec.js
Due: none

Expiring non-versioned objects fails
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  lib/BackbeatMetadataProxy.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/mocks.js
Due: Core Library, Lifecycle

use deleteObject to expire objects in S3c
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/mocks.js
Due: Lifecycle

Log consumer lag metrics
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
Due: Core Library, Replication

User log from param and return probeconfig
  extensions/replication/queueProcessor/task.js
  lib/util/probe.js
  tests/unit/lib/util/probe.spec.js
Due: Core Library, Replication

Use safeJSONparse
  lib/BackbeatConsumer.js
Due: Core Library

Fix error handling in BackbeatConsumer.js
  lib/BackbeatConsumer.js
Due: Core Library

Log warning when config is not found for specified site Issue: BB-536
  extensions/replication/ReplicationConfigValidator.js
  lib/util/probe.js
Due: Core Library, Replication

Simplify getProbeConfig
  lib/util/probe.js
Due: Core Library

Check if GC config exists before creating gc producer in replication
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/replicationStatusProcessor/task.js
  tests/functional/replication/queueProcessor.js
Due: Replication

allow consuming log records without wait when more logs are available
  lib/config.joi.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

Support role auth for crr retry
  extensions/replication/tasks/UpdateReplicationStatus.js
  extensions/replication/utils/ObjectFailureEntry.js
  lib/api/BackbeatAPI.js
  lib/api/BackbeatRequest.js
  lib/util/sortedSetHelper.js
  tests/functional/replication/queueProcessor.js
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/api/BackbeatRequest.spec.js
  tests/unit/replication/ObjectFailureEntry.spec.js
  tests/unit/replication/UpdateReplicationStatus.js
  tests/unit/sortedSetHelper.js
  tests/utils/fakeLogger.js
Due: Core Library, Replication

Add functionnal tests for RSP gc producer
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  tests/functional/replication/queueProcessor.js
Due: Replication

fixup
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
Due: Lifecycle

supported lifecycle rules in bb lifecycle config instead of const
  conf/config.json
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  tests/config.json
Due: Lifecycle

try
  .github/actions/debug-wait/action.yaml
  .github/workflows/tests.yaml
Due: none

Expose to prometheus only if logConsumerMetricsInterval is set
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

try
  tests/functional/lifecycle/configObjects.js
Due: none

Refactor replication queue processor tests
  tests/functional/replication/queueProcessor.js
Due: none

Refactor replication queue processor tests
  extensions/replication/tasks/ReplicateObject.js
  tests/functional/replication/queueProcessor.js
Due: Replication

Refactor log message in ReplicateObject.js
  extensions/replication/tasks/ReplicateObject.js
  tests/functional/replication/queueProcessor.js
Due: Replication

Remove assert
  tests/functional/replication/queueProcessor.js
Due: none

Refactor replication queue processor test to assert that s3mock has put target data and metadata
  tests/functional/replication/queueProcessor.js
Due: none

Refactor replication queue processor test to update contentLength parameter in s3mock
  tests/functional/replication/queueProcessor.js
Due: none

fixup! abstract NotificationConfigManager to support both MongoDB and Zookeeper
  extensions/notification/configManager/MongoConfigManager.js
Due: Bucket Notification

Refactor replication queue processor test to remove unnecessary parameter in s3mock
  tests/functional/replication/queueProcessor.js
Due: none

wip
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/conductor/LifecycleConductor.js
Due: Lifecycle

wip
  extensions/lifecycle/LifecycleQueuePopulator.js
Due: Lifecycle
