Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

support assumeRole in CRR
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/tasks/ReplicateObject.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Replication

skip unusable vault admin API
  extensions/replication/tasks/ReplicateObject.js
  lib/clients/backbeat-2017-07-01.api.json
  tests/unit/replication/ReplicateObject.spec.js
Due: Core Library, Replication

BB-659 Make backbeat lifecycle processor retry timeout configurable
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/replication/tasks/EchoBucket.js
  extensions/replication/tasks/ReplicateObject.js
  extensions/replication/tasks/UpdateReplicationStatus.js
  extensions/replication/utils/SetupReplication.js
  lib/tasks/BackbeatTask.js
  tests/unit/lib/tasks/BackbeatTask.spec.js
  tests/unit/replication/MultipleBackendTask.js
Due: Core Library, Lifecycle, Replication

BB-675 bump package version
  package.json
Due: none

Ignore APPEND_TO_LOG
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

BB-676: Bump version to 7.70.19
  package.json
Due: none

BB-676: Ignore APPEND_TO_LOG operations
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

BB-676: Add check for known-supported operations
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

BB-676: Bump version to 9.0.6
  package.json
Due: none

BB-676: Bump version to 9.1.0
  package.json
Due: none

Ensure messages with the same key are processed in order
  lib/BackbeatConsumer.js
  lib/constants.js
  lib/tasks/TaskScheduler.js
  tests/unit/backbeatConsumer.js
  tests/unit/lib/tasks/TaskScheduler.spec.js
Due: Core Library

make ordered message processing configurable
  extensions/gc/GarbageCollector.js
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
Due: Bucket Notification, Ingestion, Lifecycle, Replication

add metrics to track queued BackbeatConsumer tasks
  lib/BackbeatConsumer.js
  lib/KafkaBacklogMetrics.js
  lib/constants.js
Due: Core Library

fix typo in slow task metric name
  lib/constants.js
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
  monitoring/lifecycle/dashboard.json
  monitoring/lifecycle/dashboard.py
Due: Core Library

support multiple crr location in the queueProcessor
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/queueProcessor/task.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/MultipleBackendTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/Config.js
  tests/functional/replication/pauseResumeState.js
  tests/functional/replication/queueProcessor.js
  tests/functional/replication/streamedCopy.spec.js
  tests/unit/conf/Config.js
  tests/unit/replication/CopyLocationTask.spec.js
  tests/unit/replication/MultipleBackendTask.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Core Library, Replication

add the ClientsManager class
  lib/clients/ClientsManager.js
  tests/unit/clients/ClientsManager.spec.js
  tests/unit/clients/utils/credentials.json
Due: Core Library

reuse the same BackbeatClient in CRR
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/ReplicateObject.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Replication

Make sure calls to consume() are sequential
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

fix backbeatConsumer tests
  tests/unit/backbeatConsumer.js
Due: none

use v4 auth in BackbeatClient
  lib/clients/utils.js
Due: Core Library

fixup! use v4 auth in BackbeatClient
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/BackbeatMetadataProxy.js
Due: Core Library, Replication

enableIngestionUpdates value parametrize
  bin/backbeat.js
Due: none

BB-681 bump vaultclient dependency
  package.json
  yarn.lock
Due: none

use auth v4 in backbeat client
  lib/clients/backbeat-2017-07-01.api.json
Due: Core Library

Release 9.0.7
  package.json
Due: none

allow not specifying ssl certificate in crr when using https
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

unsetting vault as a required field in replication destination config
  extensions/replication/ReplicationConfigValidator.js
Due: Replication

Bump arsenal 8.2.18
  package.json
  yarn.lock
Due: none

Release backbeat 9.0.8
  package.json
Due: none
