Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Close the Redis connections opened by the API and queue processor
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/api/BackbeatAPI.js
  lib/api/BackbeatServer.js
  tests/unit/api/BackbeatAPI.spec.js
  tests/unit/replication/QueueProcessor.spec.js
Due: Core Library, Replication

Close the ingestion populator's Redis subscriber on shutdown
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Re-enable the LogReader offset initialization test
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: none

Re-enable the lifecycle conductor assumeRole variant
  tests/functional/lifecycle/LifecycleConductor.spec.js
Due: none

Skip change stream events that carry no documentKey
  extensions/oplogPopulator/OplogPopulator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Preserve the pending restore request on archive completion
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
Due: Lifecycle

Skip garbage collection of objects awaiting their first archive
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Initiate the deferred restore once the archive completes
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Disconnect the redis client the metrics consumer opens
  lib/MetricsConsumer.js
  tests/unit/lib/MetricsConsumer.spec.js
Due: Core Library

Convert the buffer helpers to TypeScript
  .github/scripts/run_server_tests.bash
  lib/util/buffer.js
  lib/util/buffer.ts
Due: Core Library

Add TypeScript type checking to the build
  .github/workflows/tests.yaml
  eslint.config.mjs
  package.json
  tsconfig.json
  yarn.lock
Due: none

Let the test suites load TypeScript modules
  .github/workflows/tests.yaml
  .mocharc.json
  .nycrc
  package.json
  yarn.lock
Due: none

Compile the sources into the image
  .dockerignore
  .gitignore
  Dockerfile
  bin/ensureServiceUser.js
  docs/run-transition-locally.md
  package.json
  tsconfig.json
Due: none

Release the credentials sweep timer held by ClientManager
  extensions/gc/GarbageCollector.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/replication/queueProcessor/QueueProcessor.js
  lib/clients/ClientManager.js
  tests/unit/clients/ClientManager.spec.js
  tests/unit/gc/GarbageCollector.spec.js
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
  tests/unit/lifecycle/LifecycleObjectExpirationProcessor.spec.js
  tests/unit/replication/QueueProcessor.spec.js
Due: Core Library, Lifecycle, Replication

Reuse the destination clients across replication entries
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/ReplicateObject.js
  tests/unit/replication/CopyLocationTask.spec.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Replication

Name the critical source error rate alert after its threshold
  monitoring/ingestion/ingestion-producer-alert.yaml
Due: none

Alert when an ingestion source cannot be set up
  monitoring/ingestion/ingestion-producer-alert.yaml
Due: none

Test the ingestion producer alerts
  .github/workflows/alerts.yaml
  monitoring/ingestion/ingestion-producer-alert.test.yaml
Due: none

Word the setup-failing alert as set up, not read
  monitoring/ingestion/ingestion-producer-alert.test.yaml
  monitoring/ingestion/ingestion-producer-alert.yaml
Due: none

Bump package.json to 9.6.0-preview.1
  package.json
Due: none

Group the queue processor stop tests under one suite
  tests/unit/replication/QueueProcessor.spec.js
Due: none

Move fcntl to 0.3.1
  package.json
  yarn.lock
Due: none

expire cached account id lookup failures
  extensions/utils/AccountIdCache.js
  tests/unit/lifecycle/AccountIdCache.spec.js
Due: Core Library

report the count of unresolved canonical ids
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/utils/AccountIdCache.js
  tests/unit/lifecycle/AccountIdCache.spec.js
Due: Core Library, Lifecycle

Evict the client managers that stopped being used
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/tasks/ReplicateObject.js
  lib/clients/ClientManager.js
  lib/clients/ClientManagerCache.js
  lib/credentials/CredentialsManager.js
  tests/unit/clients/ClientManager.spec.js
  tests/unit/clients/ClientManagerCache.spec.js
  tests/unit/credentials/CredentialsManager.js
  tests/unit/replication/CopyLocationTask.spec.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicateObject.spec.js
Due: Core Library, Replication

fix typo in strict mode directive
  extensions/utils/AccountIdCache.js
Due: Core Library

Run images and CI on Node 24
  .github/workflows/tests.yaml
  Dockerfile
  tests/utils/syntheticbucketd/Dockerfile
Due: none

Raise the engines floor to Node 24
  package.json
  yarn.lock
Due: none

Drop the legacy url.parse()
  lib/api/BackbeatRequest.js
  lib/queuePopulator/IngestionPopulator.js
Due: Core Library, Ingestion

Use arsenal's Backoff instead of backo
  lib/tasks/BackbeatTask.js
  package.json
Due: Core Library

Install arsenal and breakbeat from the npm registry
  .github/copilot-instructions.md
  CLAUDE.md
  extensions/lifecycle/CircuitBreakerGroup.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  lib/BackbeatConsumer.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/QueuePopulator.js
  package.json
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
  yarn.lock
Due: Core Library, Ingestion, Lifecycle

Bump GitHub actions to their latest majors
  .github/actions/ft-test/action.yaml
  .github/workflows/alerts.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Whitelist health check addresses only when an API is served
  lib/Config.js
  tests/unit/lib/config/Config.spec.js
Due: Core Library

Derive the circuit breaker expectations from the location config
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
Due: none

Treat a missing object as the expected outcome it is
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion
