Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

S3C-11127: ask the defector for one barrier, not one per partition
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: one commit path throw can strand more than one record
  tests/functional/deliverypool/workgroups.js
Due: none

S3C-11127: give the restarted worker the wedge handling every other join has
  tests/functional/deliverypool/workgroups.js
Due: none

Report copyLocation results under the metrics type of their flow
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/lifecycle/LifecycleMetrics.spec.js
Due: Lifecycle, Replication

Share the transition attempt metadata helper
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  lib/util/transitionAttempt.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Core Library, Lifecycle

Apply an object overwritten under the same version id
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/mongoProcessor/modes/DRMode.js
  extensions/mongoProcessor/modes/IngestionMode.js
  extensions/mongoProcessor/modes/ProcessorMode.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/unit/mongoProcessor/ProcessorMode.spec.js
Due: Ingestion

Resolve the account id of actions that only carry an owner
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/lifecycle/objectProcessor/task.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
  tests/unit/mocks.js
Due: Lifecycle

Track stale ingestion sources with a Set
  lib/queuePopulator/IngestionPopulator.js
Due: Core Library, Ingestion

Trigger pull replication of objects still on the source
  conf/locationConfig.json
  extensions/replication/ReplicationMetric.js
  extensions/replication/ReplicationQueuePopulator.js
  tests/unit/ReplicationMetric.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Replication

Report pulled objects on the replication metrics
  extensions/replication/ReplicationMetrics.js
  extensions/replication/ReplicationQueuePopulator.js
  extensions/replication/constants.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Core Library, Replication

Keep the configuration of the extensions a populator does not run
  lib/Config.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
Due: Core Library

Skip the transition of objects still on the source location
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Do not garbage-collect the from-location when it is an isCRR location
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
Due: Lifecycle

Skip isCRR locations in the GC service
  extensions/gc/tasks/GarbageCollectorTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle

Index ingestion readers by bucket and location
  lib/queuePopulator/IngestionPopulator.js
Due: Core Library, Ingestion

Trigger cold transition from oplog
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Skip master entries before adjusting restore expiry
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Dispatch oplog entries from filter()
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Publish no metrics when none are configured
  docs/metrics.md
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/replication/ReplicationMetric.js
  lib/MetricsProducer.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
  tests/unit/ReplicationMetric.js
  tests/unit/lib/MetricsProducer.spec.js
  tests/unit/lib/config/Config.spec.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
Due: Core Library, Ingestion, Replication

copy location task reads the source key from the location part
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Replication

copy location task reads the source location data over s3
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  lib/Config.js
  lib/management/operatorBackend.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Core Library, Replication

copy location task reports a missing source version as a failure
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/CopyLocationTask.spec.js
Due: Replication

copy location task builds the get object command once
  extensions/replication/tasks/CopyLocationTask.js
Due: Replication

Honor transitionOneDayEarlier in v1 lifecycle transitions
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Publish no metrics when none are configured
  docs/metrics.md
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/replication/ReplicationMetric.js
  lib/MetricsProducer.js
  lib/queuePopulator/IngestionPopulator.js
  lib/queuePopulator/QueuePopulator.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/unit/QueuePopulator.spec.js
  tests/unit/ReplicationMetric.js
  tests/unit/lib/MetricsProducer.spec.js
  tests/unit/lib/config/Config.spec.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
Due: Core Library, Ingestion, Replication

Retry the setup of an ingestion reader when it fails
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Log when an in-flight reader is skipped after source removal
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Unregister an ingestion source as soon as it is removed
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Index ingestion readers by bucket and location
  lib/queuePopulator/IngestionPopulator.js
  tests/functional/ingestion/pauseResumeState.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

Improve ingestion populator test coverage
  tests/unit/ingestion/IngestionPopulator.js
Due: none

S3C-11127: add a pure JS kafka client and a gssapi binding
  package.json
  yarn.lock
Due: none

S3C-11127: declare how a kerberos destination picks its client stack
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/constants.js
  extensions/notification/utils/auth.js
  tests/unit/notification/NotificationConfigValidator.js
Due: Bucket Notification

S3C-11127: speak SASL GSSAPI from a pure JS kafka client
  extensions/notification/destination/saslGssapi.js
  tests/unit/notification/saslGssapi.spec.js
Due: Bucket Notification

S3C-11127: make more than one kerberos principal usable in one process
  extensions/notification/destination/kerberosCredentials.js
  tests/unit/notification/kerberosCredentials.spec.js
Due: Bucket Notification

S3C-11127: give each kerberos destination its own gssapi credential
  extensions/notification/destination/KerberosKafkaProducer.js
  tests/unit/notification/KerberosKafkaProducer.spec.js
Due: Bucket Notification

S3C-11127: pick the producer stack per destination in the delivery pool
  extensions/notification/deliveryWorker/DeliveryProducerPool.js
  extensions/notification/destination/deliveryProducerFactory.js
  tests/unit/notification/DeliveryProducerPool.spec.js
  tests/unit/notification/deliveryProducerFactory.spec.js
Due: Bucket Notification

S3C-11127: install the gssapi build dependency in the builder stage
  Dockerfile
Due: none

S3C-11127: check the credential cache on every keytab registration
  extensions/notification/destination/kerberosCredentials.js
  tests/unit/notification/kerberosCredentials.spec.js
Due: Bucket Notification
