Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Fix Lifecycle Object/Bucket Processor Request alerts
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Dedup the warning & critical alerts
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Fix Lifecycle Transition Processor Request alerts
  monitoring/lifecycle/alerts.test.yaml
  monitoring/lifecycle/alerts.yaml
Due: none

Bump version 8.6.42
  package.json
Due: none

feature: BB-246 allow replication of non versioned master keys
  extensions/replication/ReplicationQueuePopulator.js
Due: Replication

bugfix: BB-264 allow replication of version suspended masters
  extensions/replication/ReplicationQueuePopulator.js
Due: Replication

BB-483 fix replicating null version
  extensions/replication/ReplicationQueuePopulator.js
  package.json
  tests/unit/replication/ReplicationQueuePopulator.spec.js
  yarn.lock
Due: Replication

BB-483 unskip ReplicationQueuePopulator unit tests for null version
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: none

Migrate to ghcr
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Upgrade actions
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

Do not build dashboards in 7.x
  .github/workflows/release.yaml
Due: none

Migrate federation build to ghcr
  .github/workflows/release-federation.yaml
  images/nodesvc-base/Dockerfile
Due: none

Merge branch 'improvement/BB-578' into w/7.10/improvement/BB-578
  .github/workflows/tests.yaml
Due: none

include e-tag in restore requests
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Shutdown Backbeat before reporting code coverage
  .github/scripts/run_server_tests.bash
Due: none

BB-583 update arsenal
  package.json
  yarn.lock
Due: none

BB-583 update package version
  package.json
Due: none

BB-580:circuitBreakerCounter introduction
  lib/CircuitBreaker.js
Due: Core Library

BB-580:alert setup
  monitoring/lifecycle/alerts.yaml
Due: none

BB-580:alert test
  monitoring/lifecycle/alerts.test.yaml
Due: none

BB-580:circuitbreaker test update
  tests/unit/lib/util/circuitBreaker.spec.js
Due: none

BB-580:lint warn fix
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
Due: none

BB-580:breakbeat version bump
  package.json
  yarn.lock
Due: none

BB-580:project version bump
  package.json
Due: none

Add bypassExpirationCheck in expiration command
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  tests/unit/lifecycle/LifecycleUpdateExpirationTask.spec.js
Due: Lifecycle

introduce artifical delay
  extensions/replication/tasks/CopyLocationTask.js
Due: Replication

fixup! introduce artifical delay
  extensions/replication/tasks/CopyLocationTask.js
Due: Replication

disable taskscheduler logic
  lib/tasks/TaskScheduler.js
Due: Core Library

add logs
  extensions/replication/tasks/CopyLocationTask.js
  lib/BackbeatConsumer.js
Due: Core Library, Replication

fixup! add logs
  lib/BackbeatConsumer.js
Due: Core Library
