Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

fix conductor always triggering v1 listing when using bucketd
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

bump package version
  package.json
Due: none

Bump CI cloudserver tag to 9.0.19
  .github/dockerfiles/cloudserver/Dockerfile
  .github/dockerfiles/ft/docker-compose.yaml
  .github/workflows/tests.yaml
Due: none

fix(typo): ghrc.io to ghcr.io
  docs/RELEASE.md
Due: none

BB-711: Replication log full err object
  extensions/replication/tasks/ReplicateObject.js
Due: Replication

BB-711: BackbeatClient extract html error
  lib/clients/BackbeatClient.js
Due: Core Library

BB-711: Test BackbeatClient html error parsing
  tests/functional/lib/BackbeatClient.js
  tests/functional/utils/MetadataMock.js
  tests/functional/utils/mockRes.json
Due: none

add replicateObject policy to the bucket processor
  extensions/lifecycle/bucketProcessor/policy.json
Due: Lifecycle

BB-714: Revert back from go to python supervisord
  images/federation/Dockerfile
Due: none

BB-714: Bump version
  package.json
Due: none

logReader: manually commit offset when using kafka logConsumer
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
Due: Core Library

fail healthcheck when Kafka logConsumer is disconnected
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

handle rebalance in the Kafka logConsumer
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
Due: Core Library

wait for offsets to be committed before shutting down the QueuePopulator
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  lib/queuePopulator/LogReader.js
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

fix signals not being propagated
  Dockerfile
Due: none

force sequential consumption in the Kafka logConsumer
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
Due: Core Library

add unit test
  tests/unit/QueuePopulator.spec.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
Due: none

refactor rebalance handler of the Kafka logConsumer
  lib/BackbeatConsumer.js
  lib/constants.js
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
Due: Core Library

set listeners before disconnect and unsubscribe to avoid race conditions
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
Due: Core Library

logs
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/tasks/LifecycleTask.js
Due: Lifecycle

pass proper params to the GC
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

bump version to 9.0.17
  package.json
Due: none

bump version to 9.1.0
  package.json
Due: none

introducing old location var to be able to clear location MD field
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
Due: Lifecycle

Add CODEOWNERS file for repo
  .github/CODEOWNERS
Due: none

v1
  lib/util/LocationStatusManager.js
Due: Core Library

v2
  lib/models/LocationStatus.js
  lib/util/LocationStatusManager.js
Due: Core Library

v3
  lib/util/LocationStatusManager.js
Due: Core Library

v4
  lib/util/LocationStatusManager.js
Due: Core Library

[DEBUG] reduce schedule resolution to minutes
  lib/util/LocationStatusManager.js
Due: Core Library

v5
  lib/util/LocationStatusManager.js
Due: Core Library

v6
  lib/util/LocationStatusManager.js
Due: Core Library

v7
  lib/util/LocationStatusManager.js
Due: Core Library

Prevent crash when processing a paused location
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionPopulator.js
Due: Core Library, Ingestion

remove in-memory pause/resume state
  lib/models/LocationStatus.js
  lib/util/LocationStatusManager.js
  tests/unit/lib/models/LocationStatus.spec.js
Due: Core Library

fix case where hours is set to 0 when scheduling resume
  lib/util/LocationStatusManager.js
Due: Core Library

Abstract MongoDB update logic in LocationStatusManager
  lib/util/LocationStatusManager.js
  tests/unit/lib/util/LocationStatusManager.spec.js
Due: Core Library

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
