Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

fixup post review
  conf/config.json
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  lib/config/configItems.joi.js
  lib/constants.js
  tests/config.json
  tests/functional/lifecycle/configObjects.js
Due: Core Library, Lifecycle

fixup! add tests
  tests/unit/notification/configManager/MongoConfigManager.spec.js
Due: none

Remove a test to be sure which ones fails the others
  tests/functional/replication/queueProcessor.js
Due: none

wip
  extensions/lifecycle/LifecycleQueuePopulator.js
Due: Lifecycle

expose Kafka producer configuration
  lib/BackbeatProducer.js
  lib/config.joi.js
  lib/constants.js
Due: Core Library

Refactor replication queue processor test to remove unnecessary parameter in s3mock
  tests/functional/replication/queueProcessor.js
Due: none

semicolon
  tests/functional/replication/queueProcessor.js
Due: none

snapshot datamover topic offsets only when transition is supported
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  tests/unit/lifecycle/LifecycleTask.spec.js
  tests/unit/lifecycle/rules.spec.js
Due: Lifecycle

Refactor replication queue processor test to fix object MD check
  tests/functional/replication/queueProcessor.js
Due: none

metrics setup conditionnaly
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

lint
  tests/functional/replication/queueProcessor.js
Due: none

add unit tests for setupMetrics
  tests/unit/QueuePopulator.spec.js
Due: none

fixup
  tests/unit/QueuePopulator.spec.js
Due: none

add unit tests for setupMetrics
  lib/queuePopulator/QueuePopulator.js
Due: Core Library

Refactor replication queue processor test to skip object MD check for small files
  tests/functional/replication/queueProcessor.js
Due: none

adapt vaultClientWrapper params
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/conductor/LifecycleConductor.js
Due: Lifecycle

Check large objects before replication
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/tasks/ReplicateObject.js
  tests/functional/replication/queueProcessor.js
Due: Replication

support dedicated replay processor probe config
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/task.js
  lib/config/configItems.joi.js
  lib/util/probe.js
  tests/unit/lib/util/probe.spec.js
Due: Core Library, Replication

Adapt functional tests to the new supportedRules
  tests/functional/lifecycle/LifecycleTaskV2-versioned.js
  tests/functional/lifecycle/LifecycleTaskV2.js
Due: none

supported lifecycle rules in bb lifecycle config instead of const
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  lib/config/configItems.joi.js
  lib/constants.js
  tests/functional/lifecycle/configObjects.js
Due: Core Library, Lifecycle

BB-616 Provide commands for lifecycle listing
  bin/backbeat-cli.js
  docs/backbeat-cli.md
Due: none

Remove useless imports
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/util/rules.js
  lib/config/configItems.joi.js
Due: Core Library, Lifecycle

test with node 22
  .github/workflows/tests.yaml
  package.json
Due: none

Update node version to 22 and add yarn caching in tests.yaml workflow
  .github/workflows/tests.yaml
Due: none

bump deps and test.yaml
  .github/workflows/tests.yaml
  package.json
Due: none

Update Dockerfile to use Node.js version 22.11.0-bullseye-slim and Dockerize version v0.8.0
  Dockerfile
Due: none
