Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Bump package.json to 9.2.2
  package.json
Due: none

oplog: Strip locations when the array is large
  conf/config.json
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
  tests/unit/oplogPopulator/OplogPopulatorConfigValidator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

oplog: Use local _liveBuckets instead of unnecessary pipeline fetch
  extensions/oplogPopulator/modules/Connector.js
  tests/unit/oplogPopulator/Connector.js
Due: Oplog Populator

oplog: Update pipeline on Mongo >= 6.0 if match stage is unchanged
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

replication: Fetch object again if locations were stripped
  extensions/replication/tasks/ReplicateObject.js
  tests/functional/replication/queueProcessor.js
Due: Replication

Use sourceCheckIfSizeGreaterThanMB for stripping locations
  conf/config.json
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/OplogPopulatorTask.js
  extensions/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/OplogPopulatorConfigValidator.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

Add functional test for oplog pipeline location stripping
  .github/workflows/tests.yaml
  package.json
  tests/functional/oplogPopulator/PipelineFactory.js
Due: none

Bump package.json to 9.3.0
  package.json
Due: none

Add lifecycle pipeline tracing logs for overlap debugging
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  lib/KafkaBacklogMetrics.js
Due: Core Library, Lifecycle

Add diagnostic logs for backlog control design bug investigation
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/lifecycle/tasks/LifecycleTask.js
  lib/KafkaBacklogMetrics.js
Due: Core Library, Lifecycle

BB-748 add claude code review
  .claude/skills/review-pr/SKILL.md
  .github/workflows/review.yml
  CLAUDE.md
Due: none

fix consumerS typo on stop lifecycle object processor, and add null guard
  extensions/lifecycle/objectProcessor/LifecycleObjectProcessor.js
Due: Lifecycle

fix calling a function that does not exists on garbage collector sigterm event
  extensions/gc/GarbageCollector.js
  extensions/gc/service.js
Due: Lifecycle

add tests for close garbage collector and expiration processor
  tests/unit/gc/GarbageCollector.spec.js
  tests/unit/lifecycle/LifecycleObjectExpirationProcessor.spec.js
Due: none

document BB-758 potential bug on offsetsStore
  lib/BackbeatConsumer.js
Due: Core Library

Skip deleted objects in lifecycle requeue batch instead of aborting
  extensions/lifecycle/tasks/LifecycleRequeueTask.js
  tests/unit/lifecycle/LifecycleRequeueTask.spec.js
  tests/unit/mocks.js
Due: Lifecycle

Bump package.json to 9.1.9
  package.json
Due: none

Bump package.json to 9.2.3
  package.json
Due: none

Bump package.json to 9.3.1
  package.json
Due: none

Fix ingestion from raft session >=10
  lib/clients/backbeat-2017-07-01.api.json
  lib/queuePopulator/IngestionProducer.js
  tests/functional/ingestion/IngestionProducer.js
  tests/functional/lib/BackbeatClient.js
  tests/functional/utils/mockRes.json
Due: Core Library, Ingestion

Release backbeat 9.1.10
  package.json
Due: none

Release backbeat 9.2.4
  package.json
Due: none

Release backbeat 9.3.2
  package.json
Due: none

bump version to 9.4.0-dev
  package.json
Due: none

fix(consumer): drain in-flight bootstrap consume workers before unsubscribe
  lib/BackbeatConsumer.js
Due: Core Library

fix(deps): bump node-rdkafka from ^2.12.0 to ^3.6.0
  package.json
  yarn.lock
Due: none

fix(config): explicitly pin partition.assignment.strategy
  lib/BackbeatConsumer.js
  lib/queuePopulator/KafkaLogConsumer/LogConsumer.js
Due: Core Library

fix(consumer): use chained setTimeout instead of setInterval in bootstrap
  lib/BackbeatConsumer.js
Due: Core Library

BB-753: skip lifecycle index creation when disk space is insufficient
  extensions/lifecycle/conductor/LifecycleConductor.js
  package.json
  tests/unit/lifecycle/LifecycleConductor.spec.js
  yarn.lock
Due: Lifecycle

refactor(consumer): simplify bootstrap consume loop per review
  lib/BackbeatConsumer.js
Due: Core Library

BB-763 Update GitHub Actions to Node 24 runtime
  .github/workflows/alerts.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
Due: none

ci: also upgrade docker/build-push-action@v6→v7, metadata-action@v5→v6, codeql@v3→v4
  .github/workflows/docker-build.yaml
  .github/workflows/tests.yaml
Due: none

ci(workflows): bump setup-go to v6 and codecov-action to v6
  .github/actions/ft-test/action.yaml
  .github/workflows/tests.yaml
Due: none

Bump @scality/cloudserverclient to 1.0.8
  package.json
  yarn.lock
Due: none

Bump package.json to 9.2.5
  package.json
Due: none

Bump package.json to 9.3.3
  package.json
Due: none

fix unhandler error -172 on entry committable causing the server to crash
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

fix(consumer): add debug log for bootstrap consume errors
  lib/BackbeatConsumer.js
Due: Core Library

BB-766 Fix formatting bugs in Claude review-pr skill
  .claude/skills/review-pr/SKILL.md
Due: none

Release backbeat 9.4.0
  package.json
Due: none

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
