Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Bump CI MongoDB to 8.0
  .github/dockerfiles/mongodb/Dockerfile
  .github/dockerfiles/mongodb/conf/mongo-run.sh
  .github/dockerfiles/mongodb/conf/mongod.conf
Due: none

Do not log expected transition skips as errors
  extensions/lifecycle/tasks/LifecycleTask.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Lifecycle

Log lifecycle circuit breaker state changes
  extensions/lifecycle/CircuitBreakerGroup.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
Due: Lifecycle

Drop the ingestion retro-propagation filter
  extensions/ingestion/IngestionQueuePopulator.js
  lib/Config.js
  lib/queuePopulator/IngestionPopulator.js
  tests/unit/ingestion/IngestionQueuePopulator.spec.js
Due: Core Library, Ingestion

Remove the pensieve management backend
  .github/workflows/tests.yaml
  docs/configuration.md
  docs/run-oob-locally.md
  lib/management/convertServiceStateFormat.js
  lib/management/index.js
  lib/management/patchConfiguration.js
  lib/management/pensieveBackend.js
  lib/management/serviceState.js
  tests/functional/ingestion/DummyPensieveCredentials.json
  tests/functional/ingestion/DummySSHKey.json
  tests/functional/ingestion/IngestionReader.js
  tests/unit/management/convertServiceStateFormat.spec.js
  tests/unit/management/patchConfiguration.js
Due: Core Library

Stop setting REMOTE_MANAGEMENT_DISABLE for backbeat in docs
  README.md
  docs/run-oob-locally.md
  docs/run-transition-locally.md
Due: none

Listen to every bucket on a site that pulls from a source location
  extensions/oplogPopulator/OplogPopulator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Let the processor of a remote location pull the data from it
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/replication/QueueProcessor.spec.js
Due: Replication

Have a single processor take a pull, and write it to the location it targets
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/tasks/CopyLocationTask.js
  extensions/replication/utils/pullReplication.js
  tests/unit/replication/CopyLocationTask.spec.js
  tests/unit/replication/QueueProcessor.spec.js
Due: Replication

Name the transition processor vault client as a valid role session name
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
Due: Lifecycle

Release 9.6.0-preview.5
  package.json
Due: none

Make the operator backend the management module itself
  lib/management/index.js
  lib/management/operatorBackend.js
Due: Core Library

Drop the dead bootstrap list update path
  bin/backbeat.js
  bin/ingestion.js
  extensions/lifecycle/bucketProcessor/task.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/mongoProcessor/utils/BucketMemState.js
  extensions/replication/ReplicationMetrics.js
  extensions/replication/queueProcessor/task.js
  lib/Config.js
  tests/unit/mongoProcessor/MongoQueueProcessor.spec.js
Due: Core Library, Ingestion, Lifecycle, Replication

Mark bucket-scanner vendor tree and go.sum in gitattributes
  .gitattributes
Due: none

Bump arsenal, breakbeat, cloudserver and cloudserverclient
  package.json
  yarn.lock
Due: none

Align cloudserver devDep resolutions with upstream
  package.json
  yarn.lock
Due: none

Bump base image to Debian trixie
  Dockerfile
  images/federation/Dockerfile
Due: none

Bump supervisord to 0.7.6 in federation image
  images/federation/Dockerfile
Due: none

Remove unused dockerize from image
  Dockerfile
Due: none

Replace nyc with c8 for coverage
  .github/scripts/run_ft_tests.bash
  .github/scripts/run_server_tests.bash
  .gitignore
  package.json
  yarn.lock
Due: none

Force recent node-zookeeper-client for zookeeper-mock
  package.json
  yarn.lock
Due: none

Bump Guidelines to 8.3.3
  package.json
  yarn.lock
Due: none

Force patched qs and tough-cookie under request
  package.json
  yarn.lock
Due: none

Bump mocha to 12
  package.json
  yarn.lock
Due: none

Keep scheduling connector updates after a failed run
  extensions/oplogPopulator/modules/ConnectorsManager.js
  lib/util/scheduleExclusiveJob.js
  tests/unit/lib/util/scheduleExclusiveJob.spec.js
Due: Core Library, Oplog Populator

Factor connector helpers out of ConnectorsManager
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  extensions/oplogPopulator/modules/connectorConfig.js
  extensions/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

Support pausing connectors and reading their offsets
  lib/wrappers/KafkaConnectWrapper.js
  tests/unit/lib/wrappers/kafkaConnectWrapper.js
Due: Core Library

Decode oplog times from connector offsets
  extensions/oplogPopulator/modules/resumeToken.js
  tests/unit/oplogPopulator/resumeToken.js
  tests/utils/resumeTokens.js
Due: Oplog Populator

Add hashed connector pipelines
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/modules/connectorNaming.js
  extensions/oplogPopulator/pipeline/HashedPipelineFactory.js
  lib/constants.js
  tests/functional/oplogPopulator/HashedPipelineFactory.js
  tests/unit/oplogPopulator/connectorNaming.js
  tests/unit/oplogPopulator/pipeline/HashedPipelineFactory.js
Due: Core Library, Oplog Populator

Add the hashed connectors manager
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/modules/HashedConnectorsManager.js
  tests/unit/oplogPopulator/HashedConnectorsManager.js
Due: Oplog Populator

Ingest the oplog through hashed connectors
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  tests/unit/oplogPopulator/OplogPopulatorConfigValidator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Count notification events of configured buckets only
  extensions/notification/NotificationQueuePopulator.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/notification/NotificationQueuePopulator.js
Due: Bucket Notification, Core Library

Monitor hashed connectors
  monitoring/oplog-populator/alerts.test.yaml
  monitoring/oplog-populator/alerts.yaml
  monitoring/oplog-populator/dashboard.json
  monitoring/oplog-populator/dashboard.py
Due: none

Skip oplog entries without replication early
  extensions/replication/ReplicationQueuePopulator.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Replication

Reset transitionInProgress on requeue of archived direct-to-cold objects
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
Due: Lifecycle

Complete the transition when requeueing an already archived object
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleRequeueTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/util/garbageCollectArchivedSource.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
Due: Lifecycle

Make archived source collection safe to replay
  extensions/gc/tasks/GarbageCollectorTask.js
  tests/unit/gc/GarbageCollectorTask.spec.js
Due: Lifecycle

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
