Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

DEBUG: log error details in BackbeatTask retry
  lib/tasks/BackbeatTask.js
Due: Core Library

BB-771: Tolerate malformed raft entries in queue populators
  extensions/ingestion/IngestionQueuePopulator.js
  extensions/replication/ReplicationQueuePopulator.js
  tests/unit/ingestion/IngestionQueuePopulator.spec.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Ingestion, Replication

BB-771: Canonicalize safeJsonParse to lib/util/
  extensions/ingestion/IngestionQueuePopulator.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/configManager/ZookeeperConfigManager.js
  extensions/notification/utils/safeJsonParse.js
  extensions/replication/ReplicationQueuePopulator.js
  lib/util/safeJsonParse.js
Due: Bucket Notification, Core Library, Ingestion, Lifecycle, Replication

wip: failing tests proving partition stall on committable:false
  tests/functional/lib/BackbeatConsumer.js
Due: none

BB-771: bump package.json
  package.json
Due: none

BB-771: Log entry.type on replication populator parse failure
  extensions/replication/ReplicationQueuePopulator.js
Due: Replication

fix: store offset before drain on rebalance tail
  lib/tasks/TaskScheduler.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/lib/tasks/TaskScheduler.spec.js
Due: Core Library

review: defer OffsetLedger 'empty' emit via process.nextTick
  lib/OffsetLedger.js
Due: Core Library

improvement: wait for OffsetLedger to drain on rebalance
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
Due: Core Library

review: replace OffsetLedger polling with 'empty' event, split tests
  lib/BackbeatConsumer.js
  lib/OffsetLedger.js
  tests/functional/lib/BackbeatConsumer.js
Due: Core Library

review: address review comments on drain refactor + emit guard
  lib/BackbeatConsumer.js
  lib/OffsetLedger.js
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/OffsetLedger.spec.js
Due: Core Library

review: drop redundant queue-drain test (covered by BB-776 PR)
  tests/functional/lib/BackbeatConsumer.js
  tests/unit/OffsetLedger.spec.js
Due: none

review: simplify ledger-drain test header, point to sync-tail suite
  tests/functional/lib/BackbeatConsumer.js
Due: none

Add Prettier pull request check
  .github/workflows/lint.yaml
Due: none

Add shared Prettier tooling
  .prettierignore
  package.json
  prettier.config.cjs
  yarn.lock
Due: none

Format package manifest with Prettier
  package.json
Due: none

bf: harden onEntryCommittable against ERR__STATE (defense-in-depth)
  lib/BackbeatConsumer.js
  tests/unit/backbeatConsumer.js
Due: Core Library

oplogPopulator: key oplog messages via TransformObjectKey SMT behind a config flag
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/OplogPopulatorConfigValidator.js
Due: Oplog Populator

feat(lifecycle): skip index creation on Veeam SosAPI buckets
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

review: reword index-skip log message for SosAPI buckets
  extensions/lifecycle/conductor/LifecycleConductor.js
Due: Lifecycle

review: use arsenal DbPrefixes.Master instead of hardcoded \x7fM/\x7fN
  lib/constants.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Core Library

feat(lifecycle): restrict v2 lifecycle indexes to master entries
  lib/constants.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Core Library

review: drop keyPrefixes wrapper; expose master prefix constants directly
  lib/constants.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Core Library

feat(lifecycle): emit putBucketIndexesFailed metric on index creation error
  extensions/lifecycle/conductor/LifecycleConductor.js
  tests/unit/lifecycle/LifecycleConductor.spec.js
Due: Lifecycle

BB-782: Deflake consumer topic metrics test
  tests/functional/lib/BackbeatConsumer.js
Due: none

BB-782: Fix bootstrap consumer stealing messages
  lib/BackbeatConsumer.js
Due: Core Library

oplogPopulator: synthesise oplog key via $addFields in connector pipeline
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/pipeline/PipelineFactory.js
  tests/functional/oplogPopulator/PipelineFactory.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/pipeline/MultipleBucketsPipelineFactory.js
  tests/unit/oplogPopulator/pipeline/WildcardPipelineFactory.js
Due: Oplog Populator

queuePopulator: counter for oplog events processed without a synthesised key
  lib/queuePopulator/KafkaLogConsumer/KafkaLogConsumerMetrics.js
  lib/queuePopulator/KafkaLogConsumer/ListRecordStream.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/KafkaLogConsumerMetrics.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/ListRecordStream.js
Due: Core Library

BB-785: fix stale github.com/scality/S3 URL references
  docs/crr-to-aws-s3.md
Due: none

BB-782: Replace test-only bootstrap consumer with earliest offset
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  extensions/replication/replicationStatusProcessor/task.js
  lib/BackbeatConsumer.js
  lib/models/ActionQueueEntry.js
  lib/models/QueueEntry.js
  tests/functional/lib/BackbeatConsumer.js
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/functional/replication/queueProcessor.js
  tests/utils/BackbeatTestConsumer.js
Due: Core Library, Replication

BB-780: Add tests for CRR poll interval override
  tests/config.json
  tests/unit/replication/ReplicationConfigValidator.spec.js
Due: none

BB-782: Harden consumer close/ready lifecycle after bootstrap removal
  lib/BackbeatConsumer.js
Due: Core Library

BB-780: Configure CRR queue processor poll interval
  docker-entrypoint.sh
  extensions/replication/ReplicationConfigValidator.js
  extensions/replication/queueProcessor/QueueProcessor.js
Due: Replication

BB-780: Cap CRR queue processor poll interval at 30 minutes
  extensions/replication/ReplicationConfigValidator.js
  tests/unit/replication/ReplicationConfigValidator.spec.js
Due: Replication

BB-780: bump package.json to 9.0.27
  package.json
Due: none

BB-782: Fix bootstrap-removal test fallout in tests, not production
  lib/BackbeatConsumer.js
  tests/functional/lib/BackbeatConsumer.js
  tests/functional/lib/KafkaBacklogMetrics.spec.js
  tests/functional/replication/queueProcessor.js
Due: Core Library
