Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

Support more options in connector
  extensions/oplogPopulator/modules/Connector.js
  tests/unit/oplogPopulator/Connector.js
Due: Oplog Populator

Extend test and allow using Infinity in joi checks
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Extend oplog populator strategy with a maximum of bucket/connector
  extensions/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
Due: Oplog Populator

Bind singleChangeStream option
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
Due: Oplog Populator

Support new options in allocators
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/modules/Allocator.js
  tests/unit/oplogPopulator/Allocator.js
Due: Oplog Populator

Introduce default max number of bucket per connector
  extensions/oplogPopulator/constants.js
Due: Oplog Populator

Do not destroy the conenctore right away, but set a flag
  extensions/oplogPopulator/allocationStrategy/LeastFullConnector.js
  extensions/oplogPopulator/modules/Connector.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
Due: Oplog Populator

Add alert if the number of connector exceeds the soft limit
  .github/workflows/alerts.yaml
  monitoring/oplog-populator/alerts.test.yaml
  monitoring/oplog-populator/alerts.yaml
Due: none

Do not delete Zenko object when not in OOB
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

Ignore python cache
  .gitignore
Due: none

Metric for the number of connectors not respecting the bucket limit
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  monitoring/oplog-populator/alerts.test.yaml
  monitoring/oplog-populator/alerts.yaml
Due: Oplog Populator

Handle retained buckets in connectors and immutable pipelines
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/allocationStrategy/ImmutableConnector.js
  extensions/oplogPopulator/allocationStrategy/LeastFullConnector.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: Oplog Populator

Introduce constants
  extensions/oplogPopulator/constants.js
Due: Oplog Populator

Fix formatting issues
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

Adapt strategy based on MongoDB version
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

Add unit tests
  tests/unit/oplogPopulator/Allocator.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/AllocationStrategy.js
  tests/unit/oplogPopulator/allocationStrategy/ImmutableConnector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: none

Add metrics at the end of connectors reconciliation
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
Due: Oplog Populator

Test events in oplogpopulator
  extensions/oplogPopulator/OplogPopulator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Consistent test naming
  tests/unit/ingestion/IngestionReader.js
  tests/unit/lib/models/ObjectQueueEntry.spec.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/ListRecordStream.js
  tests/unit/lib/queuePopulator/kafkaLogConsumer/LogConsumer.js
  tests/unit/lib/wrappers/ChangeStream.js
  tests/unit/lib/wrappers/kafkaConnectWrapper.js
  tests/unit/notification/NotificationConfigManager.js
  tests/unit/notification/NotificationQueuePopulator.js
  tests/unit/notification/NotificationQueueProcessor.js
  tests/unit/oplogPopulator/Allocator.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  tests/unit/utils/MongoUtils.js
Due: none

Make logic resilient
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/allocationStrategy/AllocationStrategy.js
  extensions/oplogPopulator/allocationStrategy/ImmutableConnector.js
  extensions/oplogPopulator/allocationStrategy/LeastFullConnector.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/Allocator.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/allocationStrategy/ImmutableConnector.js
  tests/unit/oplogPopulator/allocationStrategy/LeastFullConnector.js
  tests/unit/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Fix race condition when listening to bucket
  extensions/oplogPopulator/modules/Allocator.js
  tests/unit/oplogPopulator/Allocator.js
Due: Oplog Populator

- Also ensure no race condition when handling connector events
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorMetrics.js
  extensions/oplogPopulator/allocationStrategy/RetainBucketsDecorator.js
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

Bump project to 8.6.49
  package.json
Due: none

bucketProcessor: fallback to the forceLegacyListing param when type not in the kafka message
  extensions/lifecycle/bucketProcessor/LifecycleBucketProcessor.js
Due: Lifecycle

Use the same default value of forceLegacyListing as in S3C
  extensions/lifecycle/LifecycleConfigValidator.js
Due: Lifecycle

add test case for bootstraplist filtering Issue : BB-495
  tests/unit/conf/Config.js
Due: none

filter the list of locations to be managed Issue : BB-495
  lib/Config.js
Due: Core Library

add tests
  tests/unit/lifecycle/LifecycleBucketProcessor.spec.js
  tests/utils/kafkaEntries.js
Due: none

Fix BackbeatProducer event.error handlers set twice.
  lib/BackbeatProducer.js
  tests/unit/backbeatProducer.js
Due: Core Library

fix ambiguous redis connection config
  conf/config.json
  lib/config.joi.js
Due: Core Library

support having kafka sites
  lib/config.joi.js
Due: Core Library

saving progress
  Dockerfile
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/OplogPopulatorConfigValidator.js
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  package.json
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
  tests/unit/oplogPopulator/oplogPopulator.js
Due: Oplog Populator

supported lifecycle rules in bb lifecycle config instead of const
  conf/config.json
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/util/rules.js
  tests/config.json
Due: Lifecycle

add missing overhead field used in S3C
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
Due: Core Library

fixup post review
  conf/config.json
  extensions/lifecycle/LifecycleConfigValidator.js
  tests/config.json
Due: Lifecycle

support specifying multiple destination kafka hosts in bucket notification
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/destination/KafkaNotificationDestination.js
Due: Bucket Notification

fixup post review
  extensions/lifecycle/LifecycleConfigValidator.js
  lib/config/configItems.joi.js
  lib/constants.js
Due: Core Library, Lifecycle

abstract NotificationConfigManager to support both MongoDB and Zookeeper
  extensions/notification/NotificationConfigManager.js
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/configManager/MongoConfigManager.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/notification/queueProcessor/task.js
  lib/queuePopulator/QueuePopulator.js
Due: Bucket Notification, Core Library

use 7.x bucket notification config structure
  extensions/notification/NotificationQueuePopulator.js
  extensions/notification/queueProcessor/QueueProcessor.js
  extensions/notification/utils/config.js
Due: Bucket Notification

add/delete notification config when using zookeeper backend
  extensions/notification/NotificationQueuePopulator.js
Due: Bucket Notification

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
