Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

codecov.yml:

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

# Setting coverage targets
coverage:
  status:
    # "global" coverage target for the backbeat service (core + all extensions)
    # bucket-scanner is excluded, as it is tracked separately in the component
    project:
      default: false
      Backbeat:
        target: auto
        threshold: 1%
        removed_code_behavior: adjust_base
        paths:
          - bin
          - extensions
          - lib
    patch:
      default: false
      Backbeat:
        target: 80%

component_management:
  default_rules:  # default rules that will be inherited by all components
    flag_regexes:
      - "^(?!bucket-scanner)$" # do not consider `bucket-scanner` for most components
    statuses: []
  individual_components:
    - component_id: backbeat-notification
      name: Bucket Notification
      paths:
        - extensions/notification/**
    - component_id: backbeat-core
      name: Core Library
      paths:
        - extensions/utils/**
        - lib/**
    - component_id: backbeat-ingestion
      name: Ingestion
      paths:
        - extensions/ingestion/**
        - extensions/mongoProcessor/**
        - lib/queuePopulator/Ingestion.*
    - component_id: backbeat-lifecycle
      name: Lifecycle
      paths:
        - extensions/gc/**
        - extensions/lifecycle/**
    - component_id: backbeat-oplogpopulator
      name: Oplog Populator
      paths:
        - extensions/oplogPopulator/**
    - component_id: backbeat-replication
      name: Replication
      paths:
        - extensions/replication/**
    - component_id: bucket-scanner
      name: Bucket Scanner
      flag_regexes:
        - "^bucket-scanner$" # only consider bucket-scanner for this component
      paths:
        - bucket-scanner/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
          removed_code_behavior: adjust_base
        - type: patch
          target: 100%
          threshold: 5%

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true
    statuses: []

Add a helper telling whether a location is remote
  lib/util/locations.js
Due: Core Library

Read the mongo client config from the extension
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/mongoProcessorTask.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Whitelist health check addresses only when an API is served
  lib/Config.js
  tests/unit/lib/config/Config.spec.js
Due: Core Library

S3C-11127: prove two kerberos principals in one delivery worker
  package.json
  tests/functional/deliverypool/README-kerberos.md
  tests/functional/deliverypool/kerberos.js
  tests/functional/deliverypool/kerberosRig.js
  tests/functional/deliverypool/kerberosSingleDestination.js
Due: none

Introduce a processor mode, defaulting to ingestion
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/MongoQueueProcessor.js
  extensions/mongoProcessor/modes/IngestionMode.js
  extensions/mongoProcessor/modes/ProcessorMode.js
  extensions/mongoProcessor/modes/index.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
  tests/unit/mongoProcessor/ProcessorMode.spec.js
Due: Ingestion

Read the service account from the extension
  extensions/mongoProcessor/MongoProcessorConfigValidator.js
  extensions/mongoProcessor/mongoProcessorTask.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

Add the D/R mode
  extensions/mongoProcessor/modes/DRMode.js
  extensions/mongoProcessor/modes/index.js
  tests/functional/ingestion/MongoQueueProcessor.js
  tests/unit/mongoProcessor/MongoProcessorConfigValidator.spec.js
Due: Ingestion

S3C-11127: give the destination shape one home the document can share
  extensions/notification/NotificationConfigValidator.js
  extensions/notification/utils/destinationSchema.js
Due: Bucket Notification

S3C-11127: let a manual workgroup declare the destination it assumes
  extensions/notification/utils/workgroups.js
  tests/unit/notification/workgroups.spec.js
Due: Bucket Notification

S3C-11127: deliver under assumption, and say so on every series
  extensions/notification/deliveryWorker/DeliveryWorker.js
  extensions/notification/deliveryWorker/task.js
  tests/unit/notification/DeliveryWorker.spec.js
Due: Bucket Notification

Share the transition attempt metadata helper
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleResetTransitionInProgressTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  lib/util/transitionAttempt.js
  tests/unit/lifecycle/LifecycleTask.spec.js
Due: Core Library, Lifecycle

Report copyLocation results under the metrics type of their flow
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  extensions/replication/tasks/CopyLocationTask.js
  tests/unit/lifecycle/LifecycleMetrics.spec.js
Due: Lifecycle, Replication

Resolve the account id of actions that only carry an owner
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/lifecycle/objectProcessor/task.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
  tests/unit/mocks.js
Due: Lifecycle

S3C-11127: POC-specific-code: assume-destination submode, explored and set aside
  package.json
  tests/functional/deliverypool/README.md
  tests/functional/deliverypool/assumeDestination.js
Due: none

Keep the configuration of the extensions a populator does not run
  lib/Config.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/QueuePopulator.spec.js
Due: Core Library

Trigger pull replication of objects still on the source
  conf/locationConfig.json
  extensions/replication/ReplicationMetric.js
  extensions/replication/ReplicationQueuePopulator.js
  tests/unit/ReplicationMetric.js
  tests/unit/lifecycle/CircuitBreakerGroup.spec.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Replication

Report pulled objects on the replication metrics
  extensions/replication/ReplicationMetrics.js
  extensions/replication/ReplicationQueuePopulator.js
  extensions/replication/constants.js
  lib/queuePopulator/QueuePopulator.js
  tests/unit/replication/ReplicationQueuePopulator.spec.js
Due: Core Library, Replication

S3C-11127: POC-specific-code: add the demo test suite under tests/functional/demo
  tests/functional/demo/acts/01-code-and-tests.js
  tests/functional/demo/acts/02-legacy-baseline.js
  tests/functional/demo/acts/03-dead-destination.js
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/acts/05-crashes.js
  tests/functional/demo/acts/06-workgroups.js
  tests/functional/demo/acts/07-kerberos.js
  tests/functional/demo/acts/08-semantics.js
  tests/functional/demo/demo.js
  tests/functional/demo/lib/check-cli.js
  tests/functional/demo/lib/check.js
  tests/functional/demo/lib/conf.js
  tests/functional/demo/lib/driver-cli.js
  tests/functional/demo/lib/env.js
  tests/functional/demo/lib/flow.js
  tests/functional/demo/lib/kafka.js
  tests/functional/demo/lib/narrate.js
  tests/functional/demo/lib/procs.js
  tests/functional/demo/lib/render-cli.js
  tests/functional/demo/lib/s3.js
  tests/functional/demo/lib/setup.js
  tests/functional/demo/lib/sh.js
  tests/functional/demo/lib/wait.js
  tests/functional/demo/lib/zk.js
Due: none

S3C-11127: POC-specific-code: run the demo from yarn, and keep it out of CI
  package.json
Due: none

S3C-11127: POC-specific-code: add the four demo skills
  .claude/skills/bnaas-demo-stack/SKILL.md
  .claude/skills/bnaas-demo-walkthrough/SKILL.md
  .claude/skills/bnaas-poc-state/SKILL.md
  .claude/skills/bnaas-run-scenario/SKILL.md
Due: none

S3C-11127: POC-specific-code: carry the POC results and the handover into the branch
  poc-demo/HANDOVER.md
  poc-demo/results/RESULTS-kerberos-nodejs.md
  poc-demo/results/RESULTS-kerberos.md
  poc-demo/results/RESULTS.md
  poc-demo/results/design-critique.md
Due: none

S3C-11127: POC-specific-code: let act 07 find the kerberos suite in this repository
  tests/functional/demo/acts/07-kerberos.js
Due: none

S3C-11127: POC-specific-code: make the preload shims patch the repository they load into
  poc-demo/HANDOVER.md
  poc-demo/conf/shims/kafka-metadata-refresh-shim.js
  poc-demo/conf/shims/oplog-h-shim.js
  poc-demo/conf/shims/oplog-v2diff-shim.js
  poc-demo/results/RESULTS-kerberos-nodejs.md
  poc-demo/results/RESULTS-kerberos.md
  poc-demo/results/RESULTS.md
Due: none

S3C-11127: POC-specific-code: cure a consumer wedge that fires after start-up
  tests/functional/demo/lib/flow.js
Due: none

S3C-11127: POC-specific-code: cure a pool worker that wedges after its start-up check
  tests/functional/demo/acts/03-dead-destination.js
  tests/functional/demo/lib/flow.js
Due: none

S3C-11127: POC-specific-code: apply the cure when a drain stalls on the wedge
  tests/functional/demo/acts/03-dead-destination.js
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/acts/05-crashes.js
  tests/functional/demo/acts/06-workgroups.js
  tests/functional/demo/acts/08-semantics.js
  tests/functional/demo/lib/flow.js
Due: none

S3C-11127: POC-specific-code: make acts 03 and 04 measure what they claim
  tests/functional/demo/acts/03-dead-destination.js
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/lib/conf.js
  tests/functional/demo/lib/flow.js
Due: none

S3C-11127: POC-specific-code: build act 03's third failure class on the real broker
  tests/functional/demo/acts/03-dead-destination.js
  tests/functional/demo/lib/conf.js
Due: none

S3C-11127: POC-specific-code: have act 03 build its own third failure class
  tests/functional/demo/acts/03-dead-destination.js
Due: none

S3C-11127: POC-specific-code: stop act 03's agreeing offset row printing DIFFERS
  tests/functional/demo/acts/03-dead-destination.js
Due: none

S3C-11127: POC-specific-code: demo-pace default, fresh-machine portability, single-run lock
  .claude/skills/bnaas-demo-walkthrough/SKILL.md
  package.json
  poc-demo/.env
  poc-demo/bin/install.sh
  poc-demo/bin/krb-test-image.sh
  poc-demo/bin/lib.sh
  poc-demo/bin/preflight.sh
  poc-demo/bin/stack-up.sh
  poc-demo/docker-compose.yaml
  poc-demo/krb/Dockerfile.krbtest
  tests/functional/demo/acts/03-dead-destination.js
  tests/functional/demo/acts/04-switch-and-drain.js
  tests/functional/demo/acts/05-crashes.js
  tests/functional/demo/acts/06-workgroups.js
  tests/functional/demo/acts/07-kerberos.js
  tests/functional/demo/acts/08-semantics.js
  tests/functional/demo/lib/env.js
  tests/functional/demo/lib/setup.js
Due: none

S3C-11127: POC-specific-code: let act 06's pin step drive its own traffic
  tests/functional/demo/acts/06-workgroups.js
Due: none

S3C-11127: POC-specific-code: point the handover at the new preflight/build flow
  poc-demo/HANDOVER.md
  poc-demo/README.md
Due: none

S3C-11127: POC-specific-code: fix install.sh helper (lib.sh has no info)
  poc-demo/bin/install.sh
Due: none

S3C-11127: POC-specific-code: read act 07's proof from the broker's own log
  tests/functional/demo/acts/07-kerberos.js
Due: none

S3C-11127: POC-specific-code: give the warm-up cure the same two attempts
  tests/functional/demo/lib/flow.js
Due: none

S3C-11127: POC-specific-code: seed a fresh legacy group at the head before its processor starts
  tests/functional/demo/lib/flow.js
  tests/functional/demo/lib/kafka.js
Due: none

S3C-11127: POC-specific-code: carry the freeze record onto the branch, list the shims in the handover
  poc-demo/FROZEN.md
  poc-demo/HANDOVER.md
Due: none

S3C-11127: POC-specific-code: let a worded verdict row agree on its first word
  tests/functional/demo/acts/01-code-and-tests.js
  tests/functional/demo/lib/narrate.js
Due: none
