Repository scality/backbeat: changes, and which Codecov flags are due for each by the changed paths.
All: Bucket Notification, Core Library, Ingestion, Lifecycle, Oplog Populator, Replication, Bucket Scanner

introduce coverage change
  extensions/mongoProcessor/MongoQueueProcessor.js
Due: Ingestion

adapt lifecycle tests to support transition topic
  tests/config.json
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/functional/lifecycle/LifecycleTask.js
  tests/functional/lifecycle/LifecycleTaskV2-versioned.js
  tests/functional/lifecycle/LifecycleTaskV2.js
  tests/functional/lifecycle/configObjects.js
  tests/functional/lifecycle/utils.js
  tests/unit/lifecycle/LifecycleObjectExpirationProcessor.spec.js
  tests/unit/lifecycle/LifecycleObjectTransitionProcessor.spec.js
Due: none

test with arsenal not listing MPU
  package.json
  yarn.lock
Due: none

with branch name
  package.json
  yarn.lock
Due: none

bump fcntl
  package.json
Due: none

Resume connector change stream using the timestamp of the first event
  extensions/oplogPopulator/OplogPopulator.js
  extensions/oplogPopulator/constants.js
  extensions/oplogPopulator/modules/Allocator.js
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
  tests/unit/oplogPopulator/Connector.js
  tests/unit/oplogPopulator/ConnectorsManager.js
Due: Oplog Populator

bump version to 8.6.30
  package.json
Due: none

BB-466 Dealing with expired zookeeper sessions
  extensions/lifecycle/conductor/LifecycleConductor.js
  extensions/notification/queueProcessor/QueueProcessor.js
  lib/KafkaBacklogMetrics.js
  lib/api/BackbeatAPI.js
  lib/api/Healthcheck.js
  lib/clients/ZookeeperManager.js
  lib/provisioning/ProvisionDispatcher.js
  lib/queuePopulator/QueuePopulator.js
  lib/queuePopulator/QueuePopulatorExtension.js
  tests/functional/lib/ZookeeperManager.js
  tests/functional/lifecycle/LifecycleConductor.spec.js
  tests/functional/notification/NotificationConfigManager.js
  tests/functional/utils/mockZookeeperClient.js
  tests/unit/ProvisionDispatcher.spec.js
  tests/unit/clients/ZookeeperManager.js
Due: Bucket Notification, Core Library, Lifecycle

bump version
  package.json
Due: none

BB-466 fix linter
  lib/clients/ZookeeperManager.js
  tests/functional/ingestion/IngestionReader.js
Due: Core Library

BB-466 fix functional tests
  tests/functional/lib/BackbeatConsumer.js
Due: none

update lifecycle tests
  tests/config.json
  tests/unit/gc/GarbageCollectorTask.spec.js
  tests/unit/lifecycle/LifecycleColdStatusArchiveTask.spec.js
  tests/unit/lifecycle/LifecycleDeleteObjectTask.spec.js
  tests/unit/lifecycle/LifecycleResetTransitionInProgressTask.spec.js
  tests/unit/lifecycle/LifecycleRetriggerRestoreTask.spec.js
  tests/unit/lifecycle/LifecycleUpdateExpirationTask.spec.js
  tests/unit/lifecycle/LifecycleUpdateTransitionTask.spec.js
  tests/unit/mocks.js
Due: none

fix oplog populator logs
  extensions/oplogPopulator/modules/Connector.js
  extensions/oplogPopulator/modules/ConnectorsManager.js
Due: Oplog Populator

Delete orphaned cold object
  extensions/lifecycle/objectProcessor/LifecycleObjectTransitionProcessor.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
Due: Lifecycle

BB-468: propagate restore-expiration to cold backend
  extensions/lifecycle/LifecycleConfigValidator.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

Add test coverage
  .github/scripts/run_ft_tests.bash
  .github/scripts/run_server_tests.bash
  .github/workflows/tests.yaml
  .nycrc
  bin/backbeat.js
  package.json
  yarn.lock
Due: none

codecov: enable partial coverage for js
  codecov.yml
Due: none

Collect bucket-scanner coverage
  .github/workflows/tests.yaml
Due: none

Dynamically allocate port in test
  bucket-scanner/pkg/exporter/exporter_test.go
Due: Bucket Scanner

Configure gates
  .github/workflows/tests.yaml
  codecov.yml
Due: none

Accept zenko integration build coverage
  codecov.yml
Due: none

codecov: Add components
  codecov.yml
Due: none

codecov: setup comment field
  codecov.yml
Due: none

codecov: add flags
  .github/actions/ft-test/action.yaml
  .github/workflows/tests.yaml
  codecov.yml
Due: none

BB-474: send restore lifetime hint to sorbet
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

BB-474: send restore duration as integer
  extensions/lifecycle/LifecycleQueuePopulator.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
Due: Lifecycle

BB-473 Probe response logic should be handled in the handler
  extensions/replication/queueProcessor/QueueProcessor.js
  extensions/replication/replicationStatusProcessor/ReplicationStatusProcessor.js
  lib/queuePopulator/QueuePopulator.js
  lib/util/probe.js
  package.json
  tests/unit/QueuePopulator.spec.js
  tests/unit/replication/QueueProcessor.spec.js
  tests/unit/replication/ReplicationStatusProcessor.js
  yarn.lock
Due: Core Library, Replication

Add kafka publish metric for data-mover topic
  extensions/replication/ReplicationAPI.js
Due: Replication

Add metrics for GC duration
  extensions/gc/GarbageCollector.js
  extensions/gc/GarbageCollectorMetrics.js
  extensions/gc/tasks/GarbageCollectorTask.js
Due: Lifecycle

Add missing S3 ops tracking in GC & lifecycle
  extensions/gc/GarbageCollector.js
  extensions/gc/tasks/GarbageCollectorTask.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
Due: Lifecycle

Add metric to track lifecycle triggering
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleTaskV2.js
Due: Lifecycle

Fix duplicated getMetadata call in metrics
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
Due: Lifecycle

Add metric to track lifecycle completion
  extensions/lifecycle/LifecycleMetrics.js
  extensions/lifecycle/tasks/LifecycleColdStatusArchiveTask.js
  extensions/lifecycle/tasks/LifecycleDeleteObjectTask.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateExpirationTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
Due: Lifecycle

Set transition-in-progress flag for Transition as well
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/lifecycle/tasks/LifecycleUpdateTransitionTask.js
  tests/functional/lifecycle/LifecycleTask.js
Due: Lifecycle

Bump arsenal
  package.json
  yarn.lock
Due: none

Clear originOp when updating replication status
  extensions/replication/tasks/UpdateReplicationStatus.js
Due: Replication

Fix flaky BackbeatConsumer rebalance test
  tests/functional/lib/BackbeatConsumer.js
Due: none

Add transactionTime to cold storage request messages
  extensions/lifecycle/LifecycleQueuePopulator.js
  extensions/lifecycle/tasks/LifecycleTask.js
  extensions/replication/ReplicationAPI.js
  lib/queuePopulator/LogReader.js
  tests/unit/lib/queuePopulator/LogReader.spec.js
  tests/unit/lifecycle/LifecycleQueuePopulator.spec.js
  tests/unit/replication/ReplicationAPI.spec.js
Due: Core Library, Lifecycle, Replication

Refresh metadata when setting transition in progress flag
  extensions/lifecycle/tasks/LifecycleTask.js
Due: Lifecycle

Path conditions:
  Bucket Notification: any of: extensions/notification/**
  Core Library: any of: extensions/utils/**, lib/**
  Ingestion: any of: extensions/ingestion/**, extensions/mongoProcessor/**, lib/queuePopulator/Ingestion.*
  Lifecycle: any of: extensions/gc/**, extensions/lifecycle/**
  Oplog Populator: any of: extensions/oplogPopulator/**
  Replication: any of: extensions/replication/**
  Bucket Scanner: any of: bucket-scanner/**
